[2014-09-30 21:25] stefanpenner opened #1 "local server working"
it works when installed in an app, investigate why standalone does not

[2014-09-30 21:25] stefanpenner opened #2 "make travis green"
- [ ] less brittle tests

[2014-09-30 21:26] stefanpenner opened #3 "add other helpers?"

[2014-09-30 23:03] stefanpenner opened #4 "add moment es6-shim"

[2014-10-15 21:54] mayatron opened #6 "Add computedMoment"
[code]

Usage:

[code]

[2014-10-16 19:16] #2 closed, assigned to nobody

[2014-10-18 01:39] #4 closed, assigned to nobody

[2014-10-25 15:28] stefanpenner opened #11 "add description to package.json"
add a description, so the addon summary on http://www.emberaddons.com/ looks nice

[2014-10-26 07:35] #6 closed, assigned to nobody

[2014-10-26 07:37] #1 closed, assigned to nobody

[2014-10-26 12:38] #11 closed, assigned to nobody

[2014-11-11 01:37] tim-evans opened #13 "Link to momentjs.com in README is broken"

[2014-11-11 02:54] #13 closed, assigned to nobody

[2014-11-13 15:50] medokin opened #14 "Languages"
Is there an easy way to change the language?

[2014-11-21 02:46] andorov opened #15 "Ember-CLI test"
I have a component that uses `ago` in its template.  No problem compiling the template in development, but how do you include it in the test?  I've tried various ways with no success.

[code]

[2014-12-08 10:47] ksnyde opened #20 "duration helpers?"
I would love to see some duration helpers (assumes `myDuration: 45`):

    {{duration myDuration "minutes"}}   // "an hour"
    {{duration myDuration "minutes" "ago"}}  // "an hour ago"
    {{duration myDuration "minutes" "in"}} // "in an hour"

There's probably a more elegant api surface but caffeine is in short supply at the moment.

[2014-12-08 10:52] ksnyde opened #21 "style support?"
I was thinking it might be quite helpful to have results from the helpers distinguish between the *numeric* component of the return versus the contextual *text*. For instance, if the result was "3 days" this might be better represented as:

[code]

I often find that making the descriptive text a slightly lighter colour helps the user understand the information more quickly. Admittedly I'm sure the

[2014-12-18 09:19] zhuoqiang opened #23 "Could not load when --environment=production"
while works under development environment, however, the web page could not be loaded when serve under production environment with the following error:

    Uncaught Error: Could not find module ember-moment/helpers/moment

Here's the same problem and workaround:
http://stackoverflow.com/questions/25018160/ember-cli-fails-on-environment-production-uncaught-error-could-not-find-modu

[2014-12-19 07:10] #15 closed, assigned to stefanpenner

[2015-01-11 12:12] jmurphyau opened #27 "Update as time passes?"
This is to get thoughts on having the {{ago}} helper update as time passes..

I've been playing around with it but haven't got it quite there yet.. I've been doing it in HTMLBars only though - returning a stream that gets notified at the point in time that the string is expected to have changed.

Should the computed property and the helper update as time passes? For `ago`, I'm not really clear on

[2015-01-11 16:07] jasonmit commented on #27
I agree.  I believe it's not rerendering since the underlying value is typically a constant, some moment in time.  Perhaps we add some loop to force the rerender?

[2015-01-13 08:57] jmurphyau commented on #27
It makes sense that the value is not updating - I wouldn't expect it to. I only opened this as an 'issue' since it seems the most appropriate place (maybe a PR instead?)

I've started work and have some logic to work out when the value of the {{ago}} helper will change - see https://github.com/jmurphyau/ember-moment/tree/update-as-time-passes.

Using this would help with working out which value sh

[2015-01-14 16:05] kenips commented on #3
:+1: looking forward to this too. If possible please default to UTC.

[2015-01-24 23:01] jasonmit commented on #27
@jmurphyau I'd be fine if this "rerendering" functionality was only supported on HTMLBars.

[2015-01-24 23:04] jasonmit commented on #23
Closing as this isn't ember-moment related.

[2015-01-24 23:04] #23 closed

[2015-01-24 23:09] jasonmit commented on #20
https://github.com/stefanpenner/ember-moment/pull/25 Merged

[2015-01-24 23:09] #20 closed

[2015-01-25 00:12] lukemelia commented on #27
I would prefer that this be opt-in behavior, or at least have the ability to be opt-out. I can imagine updating automatically updating timestamps being too distracting in many UIs.

[2015-01-25 00:16] lukemelia commented on #21
Maybe a better way to support this would be to have the block form of the helper yield the bound parts as block params and then the user can provide their own html as desired.

[2015-01-25 00:22] jasonmit commented on #21
:+1: block params definitely open up some sweet possibilities.  Great idea @lukemelia

[2015-01-25 16:15] ksnyde commented on #21
that sounds good

[2015-01-28 01:52] felipeleusin commented on #14
Hi,
Do you guys need help with this? Began using ember-moment but now need to add support for localization and got kinda stuck... https://github.com/edgycircle/ember-pikaday suggests using the brocfile and a initializer which sounds good for a global setting (my use case). Maybe something along this lines?

[2015-01-28 02:41] jasonmit commented on #14
I am days away from releasing `ember-intl` which has relative time and date support using the native `Intl` API.  Moment is not a dependency either.  It will likely be released tomorrow or Thursday as the latest.

[2015-01-29 05:28] jasonmit commented on #14
https://github.com/yahoo/ember-intl the helper you are looking for is like format time date and relative

—
Sent from Mailbox

On Tue, Jan 27, 2015 at 5:52 PM, Felipe Leusin <notifications@github.com>
wrote:

[2015-01-29 06:16] stefanpenner commented on #14
@jasonmit nice!

[2015-01-31 12:53] larryisthere commented on #14
This feature is needed strongly. I'd prefer a global configuration.

[2015-02-01 07:58] jasonmit commented on #14
`moment.locale('fr');`  // Set the default/global locale

[2015-02-10 22:10] jrjohnson commented on #15
Is adding this to every component unit test the only way to make them work?  I don't understand enough about the way each test is executed so my attempts to add the initializer to startApp were un-successful, but that would seem like a better strategy.

[2015-02-27 00:16] btecu opened #30 "Update version"
Can we get a new release that includes `duration` helper?
It would be nice if it could be released on npm too...

[2015-02-27 03:15] jasonmit commented on #30
1.1.0 should resolve this

[2015-02-27 03:15] #30 closed

[2015-02-27 04:26] btecu commented on #30
Thanks!

[2015-03-04 02:15] jasonmit opened #34 "helpers within htmlbars are not bound"

[2015-03-04 17:04] btecu commented on #34
I'm trying to use `ember-moment` with `ember 1.11.0-beta.4` but all my dates are **today** when using the {{moment}} helper. Is this the same issue?

[2015-03-04 17:29] btecu commented on #34
If you need I can provide a sample repository reproducing the issue.

[2015-03-04 18:22] jasonmit commented on #34
@btecu it's related, I can reproduce.  Will have a fix shortly

[2015-03-04 19:53] #34 closed

[2015-03-04 20:05] btecu commented on #34
Thanks. Bump to 1.1.1?

[2015-03-04 21:01] jasonmit commented on #34
Done

[2015-03-11 22:55] johnotander opened #36 "Add additional date format helpers from ember-cli-dates?"
Hello,

I'm the maintainer of [ember-cli-dates](https://github.com/johnotander/ember-cli-dates). There's definitely a lot of overlap between these two projects as pointed out in johnotander/ember-cli-dates/issues/19, so I was hoping to combine efforts and collaborate on a single, cohesive project. This project has significantly more functionality, but is missing some of the date helpers that `embe

[2015-03-11 23:53] stefanpenner commented on #36
adding it here seems appropriate for now. We will soon have better support for peerAddons, which would allow ember-moment and ember-moment-helpers to nicely exist.

[2015-03-11 23:54] stefanpenner commented on #36
+10000

[2015-03-12 00:19] btecu opened #37 "Name helpers more inline with moment"
It would be good to have `ember-moment` helpers follow `Moment.js` naming.
For instance, we have a helper called `ago` for relative time. It should probably be called `fromNow` or `relative` since it also works for future dates:
[code]

`moment` helper is very generic named and maybe it would be better named `format`.
`duration` is named properly, since it's named exactly like that in `Moment.js`.

[2015-03-12 00:53] jasonmit commented on #36
:+1:

[2015-03-12 01:44] btecu commented on #36
`day-of-the-week`: {{moment today 'dddd'}} // Wednesday
`month-and-day`: {{moment today 'MMMM Do'}} // March 11th
`month-and-year`: {{moment today 'MMM YYYY'}} // Mar 2015

So, current implementation supports all the mentioned helpers and it may be enough.
http://momentjs.com/docs/#/displaying/

Maybe renaming `{{moment}}` to something like `{{moment-format}}` will make more obvious the availabili

[2015-03-22 21:39] Goldcap opened #38 "Addon Woes with ember-cli 0.2.0 and ember 1.10.0"
Hey Stefan, thanks for this!

I do note that in my current build (node 0.12.0, Vanilla ember-cli 0.2.0, ember 1.10.0) I get the following error, using moment in a transformer:

[code]

I really have nothing else going on, so not sure what's up, but it was working with a GLOBAL and Brocfile.js import on 0.15.0 and 1.9.0, so maybe something with the loader?

[code]

[2015-03-23 16:47] stefanpenner commented on #38
looking

[2015-03-23 16:53] stefanpenner commented on #38
cant seem to replicate, given:

[code]

I did:

[code]

then I added to application.hbs

[code]

and everything appears to work

![Uploading Screen Shot 2015-03-23 at 9.52.17 AM.png . . .]()

example repo: https://github.com/stefanpenner/__test-moment
commit that did stuff: https://github.com/stefanpenner/__test-moment/commit/59c2e222e29116ef99b829384a2115784082199c

[2015-03-23 16:55] stefanpenner commented on #38
Now, i don't doubt something is funky. I am just unable to reproduce, can you help me reproduce?

[2015-03-23 16:57] Goldcap commented on #38
Yes, hey, totally can do! I had this in a transformation, maybe something in ember data, or me :) Let me get you a repo with all the stuff in it, but later probably this evening.

[2015-03-31 19:18] brzpegasus commented on #38
FYI, I ran into this issue as well when upgrading an existing project. Things do work fine in Ember 1.10.0 and 1.11.0, however. It's only complaining with Ember Canary:

[code]

Repo: https://github.com/stefanpenner/__test-moment/compare/master...brzpegasus:ember-canary

I haven't investigated the error yet so I'm unclear whether it's even an ember-moment issue, but since this was opened not too l

[2015-03-31 19:31] Goldcap commented on #38
Yes, I was also on canary. And apologies in advance for not getting back to
this, still working on getting some time to get a proper example together.

On Tue, Mar 31, 2015 at 3:18 PM, Estelle DeBlois <notifications@github.com>
wrote:

--
"Period Three Implies Chaos. Period Three Implies Chaos. Period Three
Implies Chaos.
<https://play.spotify.com/album/7tcmxxo0cHzfozgW8io0OS?play=true&utm_source=

[2015-03-31 19:44] brzpegasus commented on #38
So I think this can be closed. It isn't an issue with ember-moment at all. It's a problem with Ember Data not working with the current Ember Canary. Has to do with the new CP syntax:

[code]

That is preventing the rest of the code (including ember-moment) from loading properly. If you removed ember-data as a dependency, it works.

[2015-03-31 19:56] Goldcap commented on #38
Yep, agreed, and thanks Estelle for providing some clarity. Live by the
canary, die by the canary.

On Tue, Mar 31, 2015 at 3:44 PM, Estelle DeBlois <notifications@github.com>
wrote:

--
"Period Three Implies Chaos. Period Three Implies Chaos. Period Three
Implies Chaos.
<https://play.spotify.com/album/7tcmxxo0cHzfozgW8io0OS?play=true&utm_source=open.spotify.com&utm_medium=open>"
-
James A. Yorke

[2015-03-31 20:34] jasonmit commented on #38
Thanks all, it seems we arrived to a resolution.

[2015-03-31 20:34] #38 closed

[2015-04-06 18:27] mgenev commented on #15
is this really resolved? using this addon is breaking my tests right now, see here:
http://stackoverflow.com/questions/29475291/installing-an-ember-helper-through-add-on-then-using-it-in-a-component-breaks-th

[2015-04-09 15:10] jelhan commented on #14
I'm using [ember-cli-i18n](https://github.com/dockyard/ember-cli-i18n) which stores current locale as `locale` property of application. I use an initializer to set locale for `moment` on init and register an observer for locale changes which updates moment locale. I'm currently not using `ember-moment` but a helper to format dates with moment. But this solution doesn't update already formatted dat

[2015-04-09 15:44] jelhan commented on #14
I was able to update my little moment helper to observe locale changes and rerender view. Perhaps it's a starting point. I'm not sure if rerender helper view is the right way to go.

[code]

[2015-04-10 20:53] jasonmit commented on #14
@jelhan usually the locale does not change throughout the lifetime of app.  Are you sure you need to observe `locale` versus forcing an app reload in the event the user does change their locale.

I say this because I'm in the process of ripping this functionality out of `ember-intl` and would like to hear your use case.

[2015-04-11 11:51] jelhan commented on #14
@jasonmit I have to support on-the-fly switching of locales without a reload of page in my app and therefore moved from [ember-i18n](https://github.com/jamesarosen/ember-i18n) to [ember-cli-i18n](https://github.com/dockyard/ember-cli-i18n). Of course it depends on your project if on-the-fly update of locales is needed or if observing locales should be avoided due to performance issues.

[2015-04-11 18:38] rotatingJazz opened #39 "0.2.3 installation issue"
I am getting the following message at the end. That said, my app still works :dancer:

[code]

Also, since `ember install:addon` is not valid on 0.2.3, please consider adding a note on the readme.txt file.

[2015-04-11 19:28] jasonmit commented on #14
I should have been more clear when, you get this behavior if you force an app reset on locale change.

[code]

[2015-04-14 18:48] nflbeezy commented on #3
:+1: I'd love to have timezone support in the component. Agree with @kenips that UTC should be default

[2015-04-14 22:00] jasonmit commented on #3
I have this implemented in ember-intl, which relies on the native Intl API.  I will try and get the PR for this in.

[2015-04-21 14:01] al3x-edge commented on #38
Ran into this just like @brzpegasus.  Anyone happen to know if there is an issue tracking this on ember-data? Can't seem to find one.

[2015-04-23 06:51] elwayman02 opened #41 "0.2.3 installation issue - no addon named ember-moment"
[code]

[2015-04-23 07:05] elwayman02 commented on #41
Not reproducible..worked the second time

[2015-04-23 07:05] #41 closed

[2015-04-30 13:18] Eptis commented on #37
+1 I was very confused about this when I noticed that the `moment` helper is different from the `moment` function. having this `moment` name also conflicts with other uses of moment.js

[2015-04-30 13:35] bhoskins commented on #37
Amen

On Thu, Apr 30, 2015 at 9:18 AM, Dennis <notifications@github.com> wrote:

[2015-04-30 14:09] stefanpenner commented on #37
Great idea. PR that installs the new addons and deprecates the old would be accepted

[2015-04-30 14:18] Eptis commented on #37
Will check if I can do a PR tomorrow. Thanks!

—
Met vriendelijke groet / Kind regards,

Dennis Tel

On Thu, Apr 30, 2015 at 4:09 PM, Stefan Penner <notifications@github.com>
wrote:

[2015-04-30 15:35] stefanpenner commented on #37
:+1:

[2015-04-30 16:13] jwhitmarsh opened #42 "Invalid date"
Can we have a setting to handle 'null' dates silently?

[2015-04-30 17:58] jasonmit commented on #39
This is a bug in ember-cli  https://github.com/ember-cli/ember-cli/pull/3846

[2015-04-30 17:58] #39 closed

[2015-05-04 22:20] selbyk opened #44 "Ago Component Input Date for 2015-02-04T03:19:51.000Z"
So, I've been using this for awhile on [selby.io/blog](http://www.selby.io/blog) and it's been bugging me.

I've been passing in sqlite's date format, which is like `2015-02-04T03:19:51.000Z`:

[code]

And it gives a pseudo-random number of hours ago: `17 hours ago`. Today I attempted to pass in an input format:

[code]

But now it's giving me years. `2012 years ago`

Any ideas? Thanks for any hel

[2015-05-05 03:40] selbyk commented on #44
Just kidding.  Production npm repo was behind, updating fixed it.

[2015-05-05 03:40] #44 closed

[2015-05-05 03:45] stefanpenner commented on #44
Woop

[2015-05-07 09:10] Eptis opened #45 "Why is ember-cli on version 0.1.15?"
Is there any specific reason for this?

[2015-05-07 13:32] stefanpenner commented on #45
Hasn't been updated yet

[2015-05-07 14:00] Eptis commented on #45
Ok thx. Reason I asked is because I had errors on 0.1.15 when trying to run tests

[2015-05-09 18:33] brandonparsons opened #46 "Getting errors when trying to use the computed properties"
`Uncaught TypeError: Cannot read property 'indexOf' of undefined`

`ember.debug.js:12495` which is:

[code]

[code]

[2015-05-09 18:40] brandonparsons commented on #46
Not sure at all what I was doing. This is working now.

[2015-05-09 18:40] #46 closed

[2015-05-19 12:36] codepreneur opened #48 "Cannot read property 'name' of undefined"
when `ember install ember-moment` I get:

[code]

and `ember -v` gives me:

[code]

[2015-05-19 22:01] stefanpenner commented on #48
hmm strange, seems to work for me.

[code]

[2015-05-19 22:02] stefanpenner commented on #48
can you share more information?

[2015-05-19 23:05] codepreneur commented on #48
The addon works and it saves dev into `package.json`, it just throws this error when installing for the first time.

[code]

and..

[code]

[2015-05-19 23:20] stefanpenner commented on #48
this is the client-side versions, not really very useful. Can you share the ember cli version?

[2015-05-19 23:21] stefanpenner commented on #48
also, my attempt was on a freshly generated ember-cli app. So the first time appeared to be ok?

[2015-05-20 15:47] Kilowhisky commented on #48
I am also getting the error during initial install

ember -v
version: 0.2.5
node: 0.12.0
npm: 2.10.0

[2015-05-20 16:09] Kilowhisky opened #49 "Configurable default moment format"
Right now moment format is hard coded to: `LLLL`. I've love the ability to globally set the default format to something else besides having to pass it into every moment function.

If at all possible it would be great to tie it to the locale enhancement so formats could changed based on language selected. (issue https://github.com/stefanpenner/ember-moment/issues/14)

[2015-05-20 16:12] stefanpenner commented on #49
any ideas on where this config should live?

[2015-05-20 16:50] Kilowhisky commented on #49
That sounds like a great place!

[2015-05-20 20:21] sethphillips commented on #48
Also having this issue
version: 0.2.5
node: 0.12.0
npm: 2.10.0

Cannot read property 'name' of undefined
TypeError: Cannot read property 'name' of undefined
    at /Users/sethphillips/Sites/carousel/ui/node_modules/ember-cli/lib/models/project.js:475:53
    at baseFindIndex (/Users/sethphillips/Sites/carousel/ui/node_modules/ember-cli/node_modules/lodash/internal/baseFindIndex.js:16:9)
    at /Use

[2015-05-20 20:38] sethphillips commented on #48
to be clear, the addon works, it just does not pull in the bower items automagically

[2015-05-20 21:49] Kilowhisky commented on #48
I just got this same error with another unrelated ember addon 'ember-moment' so maybe this is an ember-cli issue?

[2015-05-20 22:12] stefanpenner commented on #48
maybe some race condition? Unfortuantely, without a reproduction case this is tricky to track down...

[2015-05-22 20:55] Kilowhisky commented on #48
Looks like here is the bug and a fix for it!

https://github.com/ember-cli/ember-cli/issues/4102

[2015-06-01 13:49] olivierlesnicki commented on #42
+1

[2015-06-01 13:52] stefanpenner commented on #42
I suspect the output should be null? The question is, what inputs should generic null and which inform of invalid date. It seems fishy to just swallow all invalid dates, as I would imagine it would be a tricky thing to debug.

[2015-06-01 13:55] olivierlesnicki commented on #42
The output should indeed be null. I suppose all JavaScript falsy values should generate `null`.
Any truthy value should throw the appropriate error.

[2015-06-01 14:34] stefanpenner commented on #42
Maybe we offer a configurable set of options:

handle invalid date as:

* throw
* null

[2015-06-02 03:24] angusfretwell commented on #46
I'm getting the same problem, any idea what you did to fix it?

[2015-06-05 04:53] Jan-Jan opened #50 "Error: Assertion Failed: A helper named 'moment' could not be found"
When I try to use

[code]

in a hbs file, i get the console error

[code]

I've installed ember-moment successfully, ie,

[code]

Please help

[2015-06-05 07:07] devinus opened #51 "Add `tonow` helper"
http://momentjs.com/docs/#/displaying/tonow/

[2015-06-07 10:00] ksnyde commented on #48
I think that https://github.com/ember-cli/ember-cli/issues/4102 solves the WARN message about no repository but does not address the underlying issue being discussed here (aka, `ember install` giving the *Cannot read property 'name' of undefined*). I just got this same error installing `ember-cli-mirage` and I have @cibernox's 1.0.0 release of `ember-disable-proxy-controllers` (which does remove t

[2015-06-11 11:03] chiragmongia commented on #48
I am facing the same issue with `ember-cli 0.2.7`

`ember -v --versose` returns the following-
version: 0.2.7
http_parser: 2.3
node: 0.12.2
v8: 3.28.73
uv: 1.4.2-node1
zlib: 1.2.8
modules: 14
openssl: 1.0.1m
npm: 2.11.0

[2015-06-11 14:00] stefanpenner commented on #48
and did those work?

[2015-06-12 07:27] chiragmongia commented on #48
Nope. Those didn't work!

[2015-06-12 11:53] ksnyde commented on #48
I *was* able to install all the bower dependencies manually and mirage is now working as intended.

[2015-06-15 14:48] Eptis opened #52 "Subexpressions in helpers no longer work in ember 2.0.0-beta.1"
this used to work:
[code]
But now throws an error:
[code]

[2015-06-25 15:35] jacyzon commented on #46
if use moment in custom helper, should use `moment` instead of `ember-moment/computed`, like so:

[code]

[2015-06-26 12:21] btecu commented on #46
Also getting error when trying to use `moment` or `ago` in the code: `pattern.indexOf is not a function`.

[2015-06-26 19:29] artsyca commented on #50
This happens with some addon helpers; They are not registered in integration tests.

The workaround we use is to just register a dummy helper for the tests.

For example:

[code]

[2015-06-26 19:38] artsyca commented on #50
It might not be a great solution but I've been stubbing helpers when necessary:

[code]

[2015-06-27 00:28] jasonmit commented on #50
@artsyca https://github.com/stefanpenner/ember-moment/issues/15 for unit tests.

[code]

And the moment helper is working as expected.

Are you sure nothing else is happening within your app which is preventing this initializer from being invoked?  https://github.com/stefanpenner/ember-moment/blob/master/app/initializers/ember-moment.js

[2015-06-27 00:31] #48 closed

[2015-06-27 00:32] jasonmit commented on #48
Closed as this is an upstream issue in ember-cli

[2015-06-27 00:32] #45 closed

[2015-06-29 05:14] runspired commented on #27
I'm just peeking around on this addon (I have my own moment helpers but wondering what new is out there), the `clock` or `tick` pattern is what I use, and I differentiate between live and non-live by exposing duplicate helpers named `moment-foo` and `live-moment-foo`

[2015-06-29 06:26] jasonmit commented on #27
I was planning to make it driven by an argument `interval`.  `interval` 0 by default meaning it will never recalculate.  This is also even easier with the new Ember.Helper which has the ability to recompute to trigger a rerender.  But I am also not against having separate helpers live vs non-live.

[2015-07-03 14:43] artsyca commented on #50
@jasonmit not sure. I've noticed several initializers don't work during component integration tests but maybe it's an outdated version of some dependency?

[2015-07-03 21:34] jasonmit commented on #50
@stefanpenner are you against me removing the initializer all together and instead depend on the resolver by placing all the helpers in app/helpers/*?

[2015-07-17 15:46] seanpdoyle opened #55 "Delegate `moment` module to `ember-cli-moment-shim`"
I've [opened a PR against ember-cli-moment-shim](https://github.com/stefanpenner/ember-moment/blob/master/index.js#L39-L43) to move [ember-moment's moment module code](https://github.com/stefanpenner/ember-moment/blob/4b64dbe6c23a8ef45552392cbe24fd773cac1328/index.js#L39-L43) to [ember-cli-moment-shim](https://github.com/jasonmit/ember-cli-moment-shim/pull/5).

Could you look over that PR?

While

[2015-07-17 15:50] jasonmit commented on #55
While testing ember-moment or ember-moment-shim?

[2015-07-17 15:52] seanpdoyle commented on #55
@jasonmit while testing an ember-cli app that is consuming `ember-cli-moment-shim`.

@stefanpenner I'm looping you into this both because:

* I've hoisted the code from this repo, and plan on making this addon delegate to `ember-cli-moment-shim` once that PR is merged
* I largely don't know what I'm doing when it comes to bower and ember-cli addons interact

[2015-07-17 15:57] stefanpenner commented on #55
FYI: https://github.com/stefanpenner/ember-moment/blob/4b64dbe6c23a8ef45552392cbe24fd773cac1328/index.js#L40-L42 does basically 0 things now, it did in the past and it may in the future.

[2015-07-18 12:56] ksnyde opened #59 "moment is not defined"
I just upgraded from Ember CLI `0.2.7` to `1.13.1` and updated the ember-moment (npm: `2.0.0`) and ember-cli-moment-shim (bower: `0.3.1`) to the latest. I have install moment on the bower side at version `2.10.3`.

Should be the latest and greatest for all but when I start serving the application the application compiles/transpiles I immediately get a:

The stack trace is:

	(anonymous function)	@

[2015-07-18 14:54] jasonmit commented on #59
I cut 2.0 last night and may have introduced a regression.  Will look into it today.

If you could publish a demo app with this issue it could speed up the debugging process.

[2015-07-18 18:05] ksnyde commented on #59
The app I encountered it on is not OSS but let me see if I can recreate outside of that app.

[2015-07-18 18:06] jasonmit commented on #59
Awesome, thanks :+1:

[2015-07-18 18:18] #55 closed

[2015-07-18 18:18] jasonmit commented on #55
This is resolved on both ember-moment and ember-cli-moment-shim

[2015-07-18 18:19] jasonmit commented on #59
I have been able to reproduced it, will work on a fix shortly

[2015-07-18 18:30] ksnyde commented on #59
ok great

[2015-07-18 20:56] jasonmit commented on #59
I just released 2.0.1 which appears to work around a limitation of nested addons within ember-cli.  Can you `ember install ember-moment` again you may need to `rm -rf node_modules/ember-moment`

[2015-07-18 22:55] #59 closed

[2015-07-18 23:41] seanpdoyle commented on #55
:clap: nice work you two.

[2015-07-19 00:45] stefanpenner commented on #55
its all @jasonmit :)

[2015-07-19 12:11] benedikt-d opened #61 "Uncaught ReferenceError: moment is not defined with 2.0"
I'm not able to load ember moment with the 2.0 version:

Uncaught ReferenceError: moment is not defined

[2015-07-19 14:56] jasonmit commented on #61
Are you using 2.0.1 and did you use ember install to install ember-moment?

[2015-07-19 15:22] benedikt-d commented on #61
I'm using Ember 1.13.4 and updating with npm install and changing the version of ember moment in the package.json from "ember-moment": "1.1.1", to "ember-moment": "2.0.0" before.

[2015-07-19 15:37] jasonmit commented on #61
ember install ember-moment@2.0.1

[2015-07-19 15:40] #61 closed

[2015-07-20 21:01] #27 closed

[2015-07-22 19:32] awaer commented on #50
I see the same error. After running `ember install ember-moment`, the `moment` template helper is not found. I'm using Ember 1.12.1.

[2015-07-22 19:40] jasonmit commented on #50
I haven't been able to reproduce this.  Please show me an example app with the issue so I can look into it.

[2015-07-22 20:30] awaer commented on #50
@jasonmit I emailed you an example app.

[2015-07-22 20:53] jasonmit commented on #50
@awaer thanks.  Will take a look tonight :+1:

[2015-07-22 21:27] jasonmit commented on #50
Found the issue, has to do with the helper not containing a dash.  We previously go around this by manually registering the moment helper on app via an initializer.

[code]

I'll work on a fix shortly. 1.13.x does not run into this issue

[2015-07-22 21:58] #50 closed

[2015-07-22 22:00] jasonmit commented on #50
https://github.com/stefanpenner/ember-moment/pull/64 fixes this, will be versioned as 3.0.1.  Unit testing with anything use the moment helpers will need to either invoke this initializer or manually register the helpers.

The fix has been versioned as 3.0.1

[2015-07-22 22:02] jasonmit commented on #37
I will work on bringing over @Eptis changes to 3.x tonight.

[2015-07-23 09:01] Marthyn opened #66 "moment.locale() does not work"
Hi,

i tried using
[code]

But it doesn't set the language at all, it still stays at 'en'. Anything else i need to configure first to make this work?
(im on the latest version)

[2015-07-23 19:18] jasonmit commented on #66
Strange, will investigate tonight.  Is your app public?  Did you include the locals via your app config?

[2015-07-23 19:20] Marthyn commented on #66
Sorry forgot to close this, it was my fault I didn't include the locales, I expected them to be included since moment includes it standard. Maybe add that to the readme?

Sent from my iPhone

[2015-07-23 19:35] jasonmit commented on #66
I can make it so it includes all by default but few apps will target all the locales, so that won't be optimal.  Feel free to send a quick readme patch to cover the issue you found.

[2015-07-23 19:35] #66 closed

[2015-07-23 21:38] jasonmit commented on #66
https://github.com/stefanpenner/ember-moment/releases/tag/3.1.0 be sure to re-install via `ember install` since the generator needs to run.

[2015-07-24 09:10] Marthyn commented on #66
Oh awesome! Thank you :)

[2015-07-28 07:13] #37 closed

[2015-07-28 07:29] truenorth opened #70 "Missing tagged release for v3.2.0"
I see this release in NPM, but no git tag exists

[2015-07-28 07:50] jasonmit commented on #70
https://github.com/stefanpenner/ember-moment/releases/tag/3.2.0 done thanks

[2015-07-28 07:50] #70 closed

[2015-07-29 22:22] juliankmazo opened #71 "Cannot find module './key-for-file'"
I'm getting this error after install.
I have installed ember cli 1.13.1, and ember 1.12.1
Help :confounded:
[code]

[2015-07-29 22:48] netoho commented on #71
Same happen to me

[2015-07-29 23:17] stefanpenner commented on #71
fixed

[2015-07-29 23:17] #71 closed

[2015-07-29 23:42] juliankmazo commented on #71
Thanks @stefanpenner :laughing:

[2015-07-30 00:26] netoho opened #72 "Failed to install in a new ember app"
Hi, I'm having the next problem.
Executing 'ember init' and immediately after 'ember install ember-moment' gives
[code]
I'm using using ember-cli 1.13.5

[2015-07-30 01:27] jasonmit commented on #72
Ping @stefanpenner known issue?  I haven't seen this before.  Otherwise, I'll dig into it tonight.

[2015-07-30 01:28] stefanpenner commented on #72
i believe this is the first time i've seen this one.

[2015-07-30 01:50] jasonmit commented on #72
Confirmed it works on 1.13.1 and breaks on 1.13.5 and looks like it may be related to https://github.com/ember-cli/ember-cli/pull/4406

I'll dig deeper after dinner to see at which end this needs to be patched

[2015-07-30 02:51] jasonmit commented on #72
Okay, dug deeper https://github.com/ember-cli/ember-cli/blob/v1.13.5/lib/models/blueprint.js#L1043 should `taskOptions['package'] = options;` should be `taskOptions['packages'] = options;`

@stefanpenner I'll work around this and go through addAddonsToProject (plural) instead and version a temp fix.

[2015-07-30 07:55] jasonmit commented on #72
@netoho until my patch is merged and ember-cli publishes with my change then you'll need to continue to use ember-cli-1.13.1.

[2015-07-30 15:26] stefanpenner commented on #72
will cut another cli after breakfast, thanks @jasonmit for the patch.

[2015-07-30 16:36] jasonmit commented on #72
:+1:

[2015-07-30 18:13] aceofspades commented on #72
+1

[2015-07-30 18:18] stefanpenner commented on #72
+1

[2015-07-30 20:44] jasonmit commented on #72
Thanks @stefanpenner.  Closing now that ember-cli 1.13.6 addresses this.

[2015-07-30 20:44] #72 closed

[2015-07-30 20:50] stefanpenner commented on #72
:)

[2015-07-31 11:30] seven7seven commented on #14
Changing locales doesn't seem to work for me right now. I added a default locale, as specified in the README, but moment's locale seems to be set in tone to 'en'. Any luck with this?

[2015-07-31 11:57] jelhan commented on #14
@jasonmit `app.reset();` does reset `model` and therefore does not meet all my requirements. Had discussed the issue without real solution sometime ago on [stackoverflow](http://stackoverflow.com/questions/26091303/recommended-way-to-rerender-page-in-ember-after-language-switch). ember-i18n observes locale changes since 4.0.0 which was released two month ago. At least since that change other addon

[2015-07-31 15:35] jasonmit commented on #14
@seven7seven are you able to reproduce this and show me so I can look into it.

@jelhan

I'd be happy to review a pull request but I don't feel this functionality is a popular use-case.  And as I said, ember-intl does support the functionality you are after and supports date,time and relative time formatting.

[2015-08-03 21:03] amedrz commented on #38
Just hit a wall with this one. @brzpegasus is there an issue on ember data linked to this?

[2015-08-03 22:04] brzpegasus commented on #38
@amedrz Hmm, feels like such a long time ago, I barely recall this issue. What version of ember-moment, ember, and ember-data are you using?

[2015-08-03 22:37] amedrz commented on #38
@brzpegasus Ember 1.13.5, Ember data 1.13.7 and moment-cli ^3.2.0

[2015-08-03 22:39] jasonmit commented on #38
Post the full stack trace and if you can reproduce in an isolated app would speed up the patch process.

[2015-08-05 22:01] #51 closed

[2015-08-06 16:30] jasonmit commented on #42
How about just an Ember.Logger.warn to get a warning in dev but silent in prod?

[2015-08-06 16:41] jasonmit commented on #21
I'll need to convert everything to components to make this work since helpers can't currently be in a block form.

[2015-08-06 17:08] stefanpenner commented on #42
sure.

[2015-08-06 23:47] jasonmit commented on #21
Thinking about this further, I'm not sure it can be done while also supporting locales.

I think the best way to implement this would be to just implement your own locale data containing the markup.

[code]

And then a triple curly brace on the helper, should return what you're expecting (assuming momentjs doesn't do some escaping).

[2015-08-07 01:15] jasonmit commented on #14
https://github.com/stefanpenner/ember-moment/pull/75 will allow for inlining locales, global is supported and documented

[2015-08-07 07:37] jwhitmarsh commented on #42
:+1:

[2015-08-07 19:29] jasonmit commented on #49
Working on this tonight

[2015-08-07 19:38] jasonmit commented on #14
Closing as there is now documentation on setting global and local locales

[2015-08-07 19:38] #14 closed

[2015-08-07 21:49] stefanpenner commented on #49
@jasonmit <3

[2015-08-07 23:07] jasonmit commented on #49
I'm not sure this is needed since locale data implements what `LLLL` is on a per-locale basis.

For example, `fr` locale dictates to render `L` as `DD/MM/YYYY` and under `en` `L` is `MM/DD/YYYY`

[2015-08-08 07:41] #49 closed

[2015-08-08 20:30] #42 closed

[2015-08-08 20:31] #3 closed

[2015-08-08 21:09] jasonmit commented on #52
Will investigate this today

[2015-08-08 22:11] jasonmit commented on #52
I'm not able to reproduce this on the latest beta (beta4).  I've fixed other various issues with 2.0 in https://github.com/stefanpenner/ember-moment/pull/78

Be sure you're `t` helper is returning a format string as expected.

[2015-08-08 22:11] #52 closed

[2015-08-08 22:12] jasonmit commented on #21
Closing as it's just not feasible to be able to support this cleanly while maintaining full locale support.  My recommendation above may be the only workaround.

[2015-08-08 22:12] #21 closed

[2015-08-08 22:19] jasonmit commented on #36
@johnotander any progress on this?  I'd be willing to help

[2015-08-08 22:39] mattmazzola opened #79 "Can't install addon. Error: Cannot read property 'reduce' of undefined?"
Hi,

After I upgraded to ember-cli 1.13.5 I cannot get ember-moment to install.  I've used ember-moment before with previous projects and I assume this addon still works for other people so it must be an environmental thing, but I want to ask if there is a known work around for this type of issue?

I'm running on windows if that makes a difference.
[code]

[2015-08-08 22:48] jasonmit commented on #79
https://github.com/stefanpenner/ember-moment/issues/72

[2015-08-08 22:48] #79 closed

[2015-08-10 15:06] amedrz commented on #38
@jasonmit nevermind, I was on the middle of an ember upgrade and got confused about this. Now it's working as it is.

[2015-08-10 17:23] jasonmit commented on #38
:+1: awesome, I know how those can be :)

[2015-08-12 08:39] Iftahh opened #80 "issue testing page with moment-from-now"
My acceptance tests stopped working in pages where I added the `moment-from-now` with an interval.

The tests start with `visit` to a url, followed by `andThen` containing the asserts.
Unfortunately the tests fail with a timeout and the `andThen` isn't called.

I'm guessing the problem is the endless `Ember.runLater` that the testing framework waiting for all the jobs queue to empty before activat

[2015-08-12 17:10] jasonmit commented on #80
Ember.run.cancel to cancel anything outstanding on the run loop queue.  It's something you want to get into the habit with testing.

[2015-08-13 01:11] Iftahh commented on #80
@jasonmit  Perhaps I misunderstood you, or you misunderstood me...
the testing code looks like this:

[code]
Where would I place the cancel?  The only place that makes sense is between the `visit` to the `andThen`.
What timer should I pass to the cancel?  it accepts a parameter, but there is no way to know the runlater timer set by ember-moment.
Attempting to use instead the (private) method `Embe

[2015-08-13 01:21] jasonmit commented on #80
@Iftahh sorry, I do think I misunderstood.  Is your project public so I can step through this?

@stefanpenner have anything better in mind than replacing the Ember.run.later with setTimeout + Ember.run?

https://github.com/stefanpenner/ember-moment/blob/master/addon/helpers/moment-from-now.js#L12

[2015-08-13 01:23] stefanpenner commented on #80
@jasonmit seems like the timer should be canceled in `destroy()`

[2015-08-13 01:23] jasonmit commented on #80
:+1: will fix shortly

[2015-08-13 01:30] stefanpenner commented on #80
that wont help the above issue, as the timerwaiters in the test helpers are not granular enough.

The solution in ember will land shortly have async/await is supported in jshint, which will revamp the test helpers. Long story, upside  @Teddyzeenny and myself spike it was ember conf, it was wonderful and glorious but was blocked on tooling (just jshint) support, and stage 2 TC39 support.

In the in

[2015-08-13 02:10] Iftahh commented on #80
Thank you @jasonmit  and @stefanpenner  for your quick responses and fix !

@jasonmit my code isn't open source but you should be able to reproduce it very easily -
use ember cli to generate acceptance-test and visit a page containing `moment-from-now` helper somewhere in the template - that should be enough.

[2015-08-13 03:12] #80 closed

[2015-08-13 03:15] jasonmit commented on #80
3.5.1 published, take it for a spin and report if this issue persists.

[2015-08-13 03:45] stefanpenner commented on #80
Thanks @jasonmit

[2015-08-13 08:16] mydea opened #82 "Path or pattern "vendor/moment/locales/en.js" did not match any files"
I have a very strange problem. When using

[code]

I get the error `Path or pattern "vendor/moment/locales/en.js" did not match any files`

It works when I change it to `true` instead. However, somehow after repeatedly clearing tmp, bower_components, node_modules, at some point it suddenly started working again, altough I haven't really changed anything. The problem also occured on a fresh install

[2015-08-13 16:10] jasonmit commented on #82
What version of moment is being pulled in?

[2015-08-13 16:18] jasonmit commented on #82
Also what version of ember cli

[2015-08-13 18:08] jorgelainfiesta opened #83 "Setting locales from config file"
Hi,

I've been trying to configure the locale for this addon but nothing happens when I change the environmnet.js or even when I manually set the local on a helper instance. So I wonder if the documentation refers to some config file other than the default in CLI, as it points to `config.environment.js`

Thanks,
Jorge L

[2015-08-13 18:31] jasonmit commented on #83
Not sure what the issue is, I have tests covering the functionality to confirm it's working as intended.  Can you explain your environment more?  (cli version, ember version, moment version).  Is your app public for me to review?  Did you install the addon with `ember install`?

[2015-08-13 21:56] jorgelainfiesta commented on #83
Thanks for the reply. I found out it was my bad, sorry. I thought it wouldn't be necessary to restart the live preview server, as the observer detected the changes on the config file. But I restarted it and everything works fine now.

For the record, I am using:

Ember: 1.13.6
Ember CLI: 1.13.7
Moment: 2.10.6
And I did use `ember install`.

[2015-08-13 21:56] #83 closed

[2015-08-14 07:07] mydea commented on #82
I'm using the newest versions as far as I've seen:

* ember-cli 1.13.8
* ember-moment-shim 0.6.1
* ember-moment 3.5.1

* ember 1.13.8
* moment 2.10.6
* moment-timezone 0.4.0

I installed it via `ember install`.

(I tried it with the included moment-version 2.8.0 and with the newest 2.10.6)

[2015-08-14 10:26] MauriceMohlek opened #84 "Set allow-empty globally"
It would be nice if I could set allow-empty globally.
In my application most of the dates are not well defined so i have to add to every {{moment-format}} the allow-empty=true parameter.

Since its possible to define the ouput format globally I think it should be possible to define allow-empty globally too.

[2015-08-14 14:12] jasonmit commented on #84
There is a bug in ember around parameterless helpers.  Once that is resolved I can look into adding this.

[2015-08-15 00:23] jcope2013 commented on #84
+1, what's your thoughts on a global config like this? it can default to false, I can make a PR if wanted

[code]

[2015-08-15 08:39] jasonmit commented on #84
That seems interesting, I'd be interested and happy to review your PR.

[2015-08-17 19:35] MauriceMohlek commented on #84
@jasonmit well, at least I want to pass a date :) Even though its null..

[2015-08-18 04:13] jcope2013 opened #85 "deprecated moment helper no longer works"
using 3.5.1

[code]

[2015-08-18 06:43] jasonmit commented on #85
#87 fixes this, holding off on versioning though since it includes the global allow empty change which I need to make more changes on

[2015-08-18 06:43] #85 closed

[2015-08-18 07:52] jasonmit commented on #84
Thanks @jcope2013

I have some more changes I need to make to house keeping changes and will version tomorrow.

[2015-08-18 22:46] jasonmit commented on #84
3.6.0 closes this.  Thanks again everyone

[2015-08-18 22:46] #84 closed

[2015-08-18 22:46] jasonmit commented on #82
I haven't been able to reproduce this, any chance you can isolate it to an example and push it to github?  Will help speed up patch time

[2015-08-19 01:01] jasonmit commented on #85
3.6.0 fixes this

[2015-08-19 07:30] MauriceMohlek opened #89 "allowEmpty destroys format?!"
Now that allowEmpty can be set in global config it wont accept the global config for date format.

[code]
[code]

This will result in Friday, August 14, 2015 12:00 AM
It should print 14.08.2015.

I worked before the update, except from the allowEmpty which is working now :p

Can anybody confirm this? Am I missing something?

[2015-08-19 07:44] MauriceMohlek commented on #89
removing allowEmpty from global config doesnt fix the formating..
Passing 'DD.MM.YYYY' in the hbs works. So it just dont read from global config anymore

[2015-08-19 07:44] jasonmit commented on #89
I don't think they're related, I rewrote a large chunk and might have introduced something

[2015-08-19 07:45] jasonmit commented on #89
what version of ember?

[2015-08-19 07:45] MauriceMohlek commented on #89
sadly 1.13.8 due to deprecation stuff ...

[2015-08-19 07:46] jasonmit commented on #89
That's fine, that's actually ideal right now.  I'll work on fixing it now.

[2015-08-19 07:51] MauriceMohlek commented on #89
Another thing I discovered is when passing a null date.
the readme says If null, undefined, or an empty string as a date to any of the moment helpers then you you will Invalid Date in the output. To avoid this issue globally, you can set the option allowEmpty which all of the helpers respect and will result in nothing being rendered instead of Invalid Date.

In fact it renders the current date.

[2015-08-19 07:55] #89 closed

[2015-08-19 07:57] jasonmit commented on #89
I can't reproduce this one

[2015-08-19 07:59] MauriceMohlek commented on #89
Hm .. Might be an other interesting thing in the ember universe :)
But since I can set allowEmpty it doesnt kill me anymore.

[2015-08-19 08:03] jasonmit commented on #89
3.6.1, if you can show me an example of the null rendering the current date I'd like to try and see what is going on there but tried it on all the helpers and I'm seeing Invalid Date as expected when allowEmpty is false in the global config

[2015-08-19 08:22] MauriceMohlek commented on #89
I cant provide an example since my project is from my company and this would break some copyright shit and so on :-/
But i can tell you the way I go :)

I am using ember data to get, as you expect, data from my api.
if a date is not set my api wont return the field. So the field should be null / unset.

my global config looks like above. And so the hbs.

I will try to get an example with mirage ru

[2015-08-19 08:28] jasonmit commented on #89
If you can isolate the issue and shoot me an example that would be awesome.  I don't use ember-data much these days and would probably spin my wheels a bit trying to reproduce it.

[2015-08-19 08:40] MauriceMohlek commented on #89
Nice i didn't knew the {{log}}. I'm quiet new to ember ^^

{{log model.someDate}} produces:

Wed Jun 26 2013 00:00:00 GMT+0200 (Westeuropäische Sommerzeit)
Mon Jun 10 2013 00:00:00 GMT+0200 (Westeuropäische Sommerzeit)
3x undefined

The 3 undefined "dates" are the one which will produce the current date.
I will try to setup an empty reproducing project and leave you a message.

Thanks so far.

[2015-08-19 09:07] mydea commented on #82
I have this issue with this pretty minimal example:

https://github.com/mydea/ember-cli-example-app-for-github/tree/ember-moment

[2015-08-19 18:52] jasonmit commented on #82
I'm not seeing the error, perhaps its an issue with your npm packaging cache?

[2015-08-19 20:47] laantorchaweb opened #91 "error when installing addon"
Hi, I've used this addon in the past with no problem, but today I've tried to install it on a project and it threw an error, now I've created a new ember cli project and installed the addon, this is the output:

[code]

do you have any idea about what the error could be?

[2015-08-19 20:59] stefanpenner commented on #91
looks older, you should likely upgrade. I recall something related being fixed.

[2015-08-19 21:01] jasonmit commented on #91
Yes, was an issue in ember-cli 1.13.5 that was fixed in 1.13.6

[2015-08-19 21:01] #91 closed

[2015-08-21 09:32] mydea commented on #82
I deleted the tmp, node_modules and bower_components folder, ran the following commands:

[code]

and it still threw the same error.

[2015-08-23 16:31] redpist commented on #82
Hi.
It seems to be an error in ember-cli-moment-shim (a major dependency of ember-moment).
Files related to the included locales are directly imported from the moment 'locales' folder:
https://github.com/jasonmit/ember-cli-moment-shim/blob/d2e4f5205979b681f7118d31f50543fc16dd9c68/index.js#L42
but the 'en' locale is "almost-hardcoded" in moment.js and not present in the locale folder :
https://gith

[2015-08-23 20:41] jasonmit commented on #82
I don't see where I'm including `en` though.  I can warn on mismatches but that's the best I can do.

[2015-08-23 21:31] jasonmit commented on #82
https://github.com/jasonmit/ember-cli-moment-shim/pull/17 will warn on mistmatches now and quietly ignore if you pass `en` since it's included by default.  Will version as 0.6.2

[2015-08-23 21:42] #82 closed

[2015-08-23 21:44] jasonmit commented on #82
3.6.2 fixes this, be sure you update your apps ember-cli-moment-shim dep to 0.6.2 or rerun the blueprint.

[2015-08-31 23:46] jamesdixon opened #93 "Can't load Timezones"
Hi,

I'm attempting to load a list of zone names using `moment.tz.names()` and keep receiving an `undefined` error when calling the aforementioned method. Using devtools, it appears moment is defined, but `tz` is not. I've added the following to my `environment.js` file:

[code]
I'm calling `moment.tz.names()` through a service:

[code]

I'm using `ember-moment@3.6.1` and `ember-cli-moment-shim@0.

[2015-08-31 23:47] jamesdixon commented on #93
Also, I did run `ember g ember-cli-moment-shim` with no success.

[2015-09-01 00:54] jasonmit commented on #93
Any chance this project is open source or can you reproduce it with an example app?

I've tried but it's working as intended for me.

[2015-09-01 01:10] jamesdixon commented on #93
Unfortunately, it's not open source and I just created a fresh app using the same setup with a service and it worked. Damn - I hate bugs like this!

[2015-09-01 01:15] jamesdixon commented on #93
I inspected my `vendor.js` file and I can't find any reference to `moment-timezone` so something is definitely preventing it from loading.

[2015-09-01 04:25] jasonmit commented on #93
Hmm, yeah I'm not sure if neither of us can reproduce it on a fresh app tells me it's something specific to your app.  I can only tell you were to inspect if I can't see it myself.

 I assume you blew away node_modules and bower_components?  And you did install ember-moment via 'ember install ember-moment'?

[2015-09-08 15:02] Alinaki opened #94 "What is 'config.environment.js'?"
When I use ember-cli, placing moment parameters into config/environment.js ENV-variable provide no effect. Where moment-parameters should be?

This config won't work:
[code]

[2015-09-08 23:08] elwayman02 commented on #36
:+1:, I'd love to see more opinions on @btecu's latest comment. It may makes sense not to add new helpers if the same functionality can be achieved simply by better documenting how to use `ember-moment` in conjunction with the features `moment` already provides.

[2015-09-08 23:28] jasonmit commented on #36
Everything is already renamed.  What's left?

[2015-09-09 00:09] elwayman02 commented on #36
Ah, didn't see that haha. Maybe this issue should be closed and ember-cli-dates README updated with a mention that ember-moment now incorporates that functionality?

[2015-09-09 02:41] jasonmit commented on #94
`config/environment.js` typo, sry

[2015-09-09 02:41] #94 closed

[2015-09-09 02:42] jasonmit commented on #36
Want to update the docs? :)

[2015-09-09 17:55] mmahalwy opened #96 "Ember.HTMLBars._registerHelper deprecated"
When updating to ember 2, this is now deprecated
[code]

[2015-09-10 03:38] jasonmit commented on #96
Can you post the stack trace.  Afaik everything was converted to the new stateful helpers.  I will double check when I get near a computer.  Are you on latest?

[2015-09-10 04:05] jasonmit commented on #93
Closing for not being able to reproduce and inactive.

[2015-09-10 04:05] #93 closed

[2015-09-10 18:03] mmahalwy commented on #96
Sure, here is my stacktrace:
[code]

My versions:
[code]

When I shim in my app.js:
[code]
Everything is all good again.

[2015-09-10 18:12] jasonmit commented on #96
Okay, I will look.  Likely an issue with the condition not being satisfied gt('2.0.0') I would expect to be truthy against 2.0.2 but it's probably not for you.  Will patch soon.

[2015-09-10 19:15] jasonmit commented on #96
Super confused by this, can you validate you are on the latest version of ember moment?  I can't reproduce.

[2015-09-10 23:11] mmahalwy commented on #96
[code]

[2015-09-11 07:10] jasonmit commented on #96
3.6.3 should fix this.  I wasn't able to reproduce it, but I changed the version detection.

[2015-09-11 07:10] #96 closed

[2015-09-14 19:01] mmahalwy commented on #96
awesome thanks @jasonmit

[2015-09-18 08:03] indirect opened #100 "legacy-register initializer is incorrectly added to Ember 2.0.1 addon"
I'm trying to use `ember-moment` as dependency of the `ember-cp-validations` addon. For some reason, the legacy-register initializer is getting included in the built application, even though the app is using Ember 2.0.1. I've created an extremely minimal ember addon where you can see the error in action—it's basically just an empty ember addon plus ember-moment. To see the problem, do this:

[code

[2015-09-18 08:06] indirect commented on #100
I should point out that, for the record, I am seeing this problem both in an ember-cli application running Ember 2.0.1 and an ember-cli addon running Ember 2.0.1. It was easier to create the minimal reproduction case based on the addon, so I did that.

If there's anything else I can do that would be helpful (or if there are any pointers that would help in debugging this), please let me know. I've

[2015-09-18 15:41] stefanpenner commented on #100
It appears `included` isn't being invoked twice but the addon tree is invoked twice. (which itself is dubious)

[2015-09-18 15:58] stefanpenner commented on #100
A quick fix would be for [this check](https://github.com/stefanpenner/ember-moment/blob/master/index.js#L13-L21) to be inverted, rather make the legacy the opt in.

[2015-09-18 16:25] jasonmit commented on #100
I am fine at this point dropping legacy support and versioning accordingly.  Thoughts Stefan?

[2015-09-18 16:40] stefanpenner commented on #100
:+1:

[2015-09-19 09:41] #100 closed

[2015-09-19 09:44] #36 closed

[2015-09-20 06:10] jasonmit opened #104 "Implement service for changing application-wide locale"
This will trigger computed macros and helpers to recompute.

[2015-09-20 06:12] jasonmit commented on #100
Versioned as 4.0.0 and also will resolve this issue.

[2015-09-22 12:40] HerveSeger opened #105 "i18n - Locales not loaded?"
Hi.

I am using ember-cli 1.13.8 and the latest release of ember-moment.

I need to handle French (`fr-ca`) and English (`en-ca`) locales so I did this in config/environment.js where the ENV object is populated with all the key/values:
[code]

But English is the only locale available. I have tried several different ways to force the locale to switch to `fr-ca` and nothing happens.
It looks that th

[2015-09-23 05:19] jasonmit commented on #105
Are you sure your apps not including two instances of moment?  Not by a computer to try and reproduce this.

[2015-09-23 11:35] HerveSeger commented on #105
You are right.

We had a reference of the regular JS version of Moment in `ember-cli-build.js` that I have removed.
The locales work as expected now.

Thanks a lot :)

[2015-09-23 11:35] #105 closed

[2015-10-07 02:41] #104 closed

[2015-10-07 02:41] jasonmit opened #108 "Computed properties should observe changes to service by default"
Similar to the helper, our computed property macros should observe changes to service by default

[2015-10-10 18:57] rinti opened #110 "i18n - locales not working"
Hi. I'm having the same issue as #105

However I'm quite certain I'm not loading two instances of moment. (I've grepped for moment in my files and nothing seems out of the ordinary)

And i've tried both {{moment-from-now date locale='sv'}} and setting the locale in the application route.
I've also tried `import moment from 'moment'` and doing `moment.locale('sv')`.
Also tried `this.set('moment.loc

[2015-10-10 19:12] jasonmit commented on #110
What version of moment is being bundled?  You also said when you pulled down the repo and ember test ci that tests are failing?

[2015-10-10 19:17] rinti commented on #110
The tests are passing in the repo i pulled home.

I just realized it is a conflict with another app which includes moment:
https://github.com/edgycircle/ember-pikaday

Is there any way to get around this?

[2015-10-10 19:37] jasonmit commented on #110
If they both depend on >= 2.8.0 than there shouldn't be an issue.  What version of moment is the conflict resolving to?  It shouldn't be an issue if you just override the version in bower.json.

[2015-10-10 19:48] jasonmit commented on #110
Also, I'm not really sure how this will work since it all depends on the order in which the locales are appended to your vendor.js.

https://github.com/jasonmit/ember-cli-moment-shim/blob/master/index.js#L43-L47

Pikaday doesn't seem to take into account locales and there for does not care about ordering:
https://github.com/edgycircle/ember-pikaday/blob/master/index.js#L10

I'm not sure what to sa

[2015-10-10 19:48] #110 closed

[2015-10-10 19:50] rinti commented on #110
Thanks Jason. Will do that.

[2015-10-10 19:53] jasonmit commented on #110
I'm not sure if this is an option, but I also maintain another library which handles time/date/relative time along with localization: https://github.com/yahoo/ember-intl/wiki/Format-Date-&-Time-Options

[2015-10-12 19:05] jamesdixon commented on #93
@jasonmit sorry for never getting back to you on this. I was investigating using moment-timezone in our application, but hadn't quite gotten to a point where i _needed_ it quite yet.

That said, I'm at the point where I'm ready to start implementing timezone support. I went ahead and blew away everything in `node_modules/` and `bower_components`, removed the dependencies in `bower.json` and `packa

[2015-10-13 01:59] jamesdixon commented on #93
@jasonmit sorry to keep pestering you on this one, but I tracked down the issue to a conflict with [ember-cli-full-calendar](https://github.com/icicletech/ember-cli-full-calendar), which is a wrapper for Fullcalendar, which also uses Moment. Removing the addon allows Moment Timezone to function properly. Wasn't sure if you could peek at that plugin and see if you saw anything right off the bat tha

[2015-10-13 04:59] jasonmit commented on #93
https://github.com/icicletech/ember-cli-full-calendar/blob/master/index.js#L10

it's the same problem with https://github.com/stefanpenner/ember-moment/issues/110

[2015-10-13 05:28] jamesdixon commented on #93
Thanks @jasonmit! That worked perfectly!

[2015-10-13 05:34] jasonmit commented on #93
:+1:

[2015-10-14 20:43] marnen opened #111 "How do I use Moment plugins with this?"
I'd like to use Moment plugins such as [twix](http://momentjs.com/docs/#/plugins/twix/) with ember-moment, but I can't figure out how to register them on the Moment object without installing a separate copy of Moment from the one managed by ember-moment. Is there a way of doing this?

[2015-10-15 05:27] jasonmit commented on #111
https://github.com/jasonmit/ember-cli-moment-shim is where you'll want to open the issue.

[2015-10-15 05:27] #111 closed

[2015-10-15 06:11] jasonmit commented on #111
https://github.com/jasonmit/ember-moment-twix-example/commit/6fbaf847410b0e0a3da84ff0beaedff39f332f4a

I also don't see any problems with ember-moment + twix, so not sure what you're doing wrong but there is a simple app with it running.

[2015-10-16 06:19] lmcardle commented on #38
I get this issue on a brand new project, using: Ember 1.13.7 and Ember Data 1.13.8.

[code]
Then in application.hbs
[code]
Start the server and get the error:
[code]

[2015-10-16 07:15] jasonmit commented on #38
There isn't such thing as a moment helper.  See the README: https://github.com/stefanpenner/ember-moment on how to use this lib.

[2015-10-21 15:30] mjuniper opened #112 "Load locale at runtime"
We have an app that needs to support 26 languages. I don't want every user to have to download all 26 languages so I want to request the locale with XHR in an instance initializer at runtime and load the locale into moment as described [here](http://momentjs.com/docs/#/i18n/changing-locale/).

As far as I can tell, this is not possible. Am I missing something?

[2015-10-23 05:53] jasonmit commented on #112
[code]

All the moment methods are available.  This functionality is provided via https://github.com/jasonmit/ember-cli-moment-shim

Is the feature you're looking for to optionally write the locale json files to the assets folder instead of `vendor.js`?

[2015-10-24 10:35] teague2 opened #113 "Typo"
I know this sounds pernickety but the plural of a compute would be computes, right?
Just noting because you called the folder "computeds" ... good work though.
Been upgrading to ember-cli the last 24 hours and its great :+1:

[2015-10-26 06:57] jasonmit commented on #113
Short for computed property macros, I think computes would convey something entirely different.

[2015-10-26 06:57] #113 closed

[2015-10-27 22:56] jasonmit commented on #112
@mjuniper please test the ember-cli-moment-shim changes and then I'll pull them upstream into ember-moment

[2015-11-06 14:28] tubia opened #114 "How default global locale is set?"
Hi,
I'm using this add-on but I'm experiencing some issues with the i18n features.
Actually, I've included these locales in my `config/environment.js` (I report also the ember-i18n config for clarity although I know is not directly related):
[code]

With these settings, the default language, printing `{{moment-format date 'llll'}}` is always 'it'.
My browser was set on 'Italian' so I switched it t

[2015-11-08 00:43] jasonmit commented on #114
Not through config/environment, though I could implement this would review a PR that implements this.

[2015-11-10 16:35] jelhan opened #115 "Current date if variable is undefined"
`{{moment-format}}` helper uses current date if an undefined variable is passed in. If `allowEmpty` is `true` it outputs "not definied" instead.

This bug was already discussed lately in #89 but not really spotted. If `null` is passed to `{{moment-format}}` it outputs "Invalid date" or - if `allowEmpty` is `true` - an empty string.

Reproduced this bug using ember-cli 1.13.8, ember 1.13.7 and embe

[2015-11-14 17:10] mjuniper commented on #112
Sorry, we went a different direction so I haven't been watching this. But yes, that is what I was after. I'll try to take a look this week.

[2015-11-14 22:22] jasonmit commented on #112
Okay, closing issue feel free to update with your findings.

[2015-11-14 22:22] #112 closed

[2015-11-24 17:12] avanov opened #116 "Is moment-timezone installed alongside moment as a dependency?"
Hi!

I'm getting this error whenever I try to use moment-timezone dependant functionality in my app:
[code]

I installed the addon with the ``ember install ember-moment`` command and I have ``"moment": ">= 2.8.0"`` in bower.json and ``"ember-cli-moment-shim": "0.7.1",`` and ``"ember-moment": "4.1.0",`` in package.json, and I also set up app's config for including all timezone data:
[code]

What di

[2015-11-25 07:23] jasonmit commented on #116
It is installed when you install via `ember install`

https://github.com/jasonmit/ember-cli-moment-shim/blob/master/blueprints/ember-cli-moment-shim/index.js#L13-L16

Can you share what version of ember-cli you're using so I can attempt to reproduce it.

[2015-11-25 08:56] avanov commented on #116
This is my devDependencies:
[code]

[2015-11-25 10:01] jasonmit commented on #116
Can you also post the output of `bower list`

[2015-11-25 10:11] avanov commented on #116
Here it is
[code]

[2015-11-25 10:13] jasonmit commented on #116
It's strange that moment-timezone has extraneous next to it, it should be in your bower.json though I'm unsure that will resolve the problem..

[2015-11-25 10:13] jasonmit commented on #116
Do you have anything in ember-cli-build app importing moment?

[2015-11-25 10:45] avanov commented on #116
I'm not sure if I understand the question, sorry. But if it is about a possible place when I import and use moment apart from ember-moment, then yes, I have a ``transform`` for Ember Data, which serializes/deserializes datetimes from backend to Moment (in LiveScript):
[code]

[2015-11-25 10:52] jasonmit commented on #116
Can you post your `ember-cli-build.js` and if that doesn't work, grep your disted vendor.js for `moment-timezone.js` and let me know if it appears immediately after `moment.js` (should be a the line right above it).

[2015-11-25 10:59] avanov commented on #116
Ah, ok, I see now. So, here's my ember-cli-build.js:
[code]

And I've just noticed that I ``app.import`` moment, which comes from the time when I didn't use ``ember-moment``. Could that be the issue?

[2015-11-25 10:59] jasonmit commented on #116
Remove app.import('bower_components/moment/min/moment.min.js'); and the problem will go away :)

[2015-11-25 10:59] #116 closed

[2015-11-25 11:36] avanov commented on #116
Ok, now I know how to trace this kind of issues. Thanks for the tips and assistance!

[2015-11-30 23:30] manuel-reil opened #117 "Service cannot be injected"
Hi,

thanks for ember-moment.

I would like to inject the moment service into a controller in order to switch locales along with ember-i18n switching.

However, 'moment: Ember.inject.service' leads to 'Attempting to inject an unknown injection: `service:moment`' - whether I am trying to inject it in the controller or the application route.

What am I doing wrong?
Thank you.

**Versions:**
* Ember

[2015-12-01 03:41] jasonmit commented on #117
Hmm, you're sure ember-moment is in your package.json?

[2015-12-01 14:10] manuel-reil commented on #117
In my pain, I did the equivalent of an "Windows 95 reboot" and cleared out the tmp folder. Then it worked.
Btw. with every file change and ember server refresh, less services were succesfully injected...

Sorry for raising it as an issue. I had the feeling that something fundamentally was broken in the component.

[2015-12-01 14:10] #117 closed

[2015-12-04 01:10] spinlock99 opened #120 "Use from Addon?"
I'm trying to use `ember-moment` in an addon that I'm developing and I'm having some issues getting it to work.

For my development setup, I'm using `npm link` to access the addon from my project:

    ~my-addon$ npm link
    ~/project$ npm link my-addon

but, when I try to import `momentFromNow` into my addon:

    import momentFromNow from 'ember-moment/computeds/from-now';

I get the following

[2015-12-04 01:25] jasonmit commented on #120
Add ember-moment in your package.json also.  That's the source of truth for how ember-cli loads the addons, not the fact that they're installed or symlinked in node_modules.

[2015-12-04 01:25] #120 closed

[2015-12-04 09:17] mydea opened #121 "Configurable default date format"
Right now, it is possible to set a global default format in `config/environment.js`.

It would be really nice if the default format could be a changable value, e.g. on the moment service. In my app, users can choose & save a date format which is then used in the app. It would be really useful to have something like:

[code]

And have all moment-format helpers update themselves automatically, simil

[2015-12-04 17:18] spinlock99 commented on #120
`ember-moment` is added to the addon's `package.json`. I got this working by adding it to the project's `package.json` as well. Is that what you mean? I think I need to add a generator to my addon to add `ember-moment` to the project's dependencies.

Does that sound right?

Thanks.

[2015-12-05 05:24] jasonmit commented on #120
@spinlock99 yes, an example of that https://github.com/stefanpenner/ember-moment/blob/master/blueprints/ember-moment/index.js#L11

[2015-12-05 23:00] jasonmit commented on #121
Agreed, would happily review a PR for this

[2015-12-12 10:42] #121 closed

[2015-12-12 11:04] jasonmit commented on #121
@mydea I tweaked the logic a bit in my PR #124 and wrote a test to cover

[2015-12-12 20:29] evanstoner opened #126 "Add support for calendar time"
This is another Moment display function, similar to `fromNow()`.

http://momentjs.com/docs/#/displaying/calendar-time/

[2015-12-16 02:06] mellatone opened #130 "Importing moment for use within a unit test"
Hi! Using `"ember-moment": "3.6.4"` and ` "ember-cli-qunit": "0.3.9"`, I'm calling `import moment from 'moment';` from unit tests and trying to get a basic moment date with `moment()`;

This results in `TypeError: undefined is not a function.`

How can I access the moment library? I'd like to use methods like `moment.subtract()` etc.

[2015-12-16 02:08] jasonmit commented on #130
Can you show me the output of `npm ls ember-cli-moment-shim` and please post your brocfile

[2015-12-16 16:26] mellatone commented on #130
I may be missing that dependency?

[code]

[2015-12-16 18:42] mellatone commented on #130
Not using `import moment from 'moment'` resolved this.

[2015-12-17 05:55] jasonmit commented on #130
You should still be able to reference moment in your tests, as we do internally in our tests.

https://github.com/stefanpenner/ember-moment/blob/master/tests/unit/computeds/duration-test.js#L2

I'm not entirely sure what is happening here, can you produce an example application that demonstrates this bug.  It would help with the turn around since it might be something specific to your setup.

[2015-12-17 05:55] jasonmit commented on #130
One more thing, can you ensure that ember-cli-moment-shim is also listed in your package.json?

[2015-12-17 21:34] btecu commented on #115
`allowEmpty` can be passed on the helper itself, like `{{ember-moment myDate allowEmpty=true}}` and it works, except it logs out a warning: `ember-moment: an empty value (null, undefined, or "") was passed to moment-format`.

[2015-12-17 21:46] bschnelle commented on #126
+1

[2015-12-21 21:46] acerov opened #132 "locale trouble"
Hi there,
I can't get locale to work, it is allways "en"
tried:
`// app/routes/applicaton.js`
`import moment from 'moment';`
`export default Ember.Route.extend({`
`  beforeModel() {`
`    moment.locale('hr');`
`  }`
`});`

also:
`// app/routes/applicaton.js`
`export default Ember.Route.extend({`
  `moment: Ember.inject.service(),`
  `beforeModel() {`
    `this.get('moment').changeLocale('hr');`

[2015-12-21 21:51] jasonmit commented on #132
There is a good chance you have another addon, or your app itself, is importing momentjs.

[2015-12-21 22:29] acerov commented on #132
@jasonmit i had "ember-cli-moment": "0.0.2", I removed it from "package.json" but still no change
If I do:
`moment.locale("hr");`
`console.log(moment.locale());` //output is "en"

[2015-12-21 22:48] acerov commented on #132
If I set locale with complete locale object then it works
`moment.locale('hr', {months : ... etc})`

[2015-12-22 06:39] jasonmit commented on #132
@acerov every time this issue pops up it turns out it was another addon `app.import`ing momentjs.  Please check your package.json for other addons that might be doing this and your own `ember-cli-build.js` file for an app.import on moment.

[2015-12-22 06:41] #115 closed

[2015-12-22 08:19] acerov commented on #132
@jasonmit thank you for your time on this,
I double checked `ember-cli-build.js` there is no `moment`
My package.js dependencies is bellow (`ember-cli-moment-shim` is in):
  `"devDependencies": {`
    `"broccoli-asset-rev": "^2.1.2",`
    `"broccoli-manifest": "0.0.7",`
    `"broccoli-merge-trees": "^0.2.3",`
    `"broccoli-serviceworker": "0.0.5",`
    `"ember-async-button": "^0.7.0",`
    `"embe

[2015-12-22 08:30] jasonmit commented on #132
`ember-cli-full-calendar` is likely the problem.

https://github.com/icicletech/ember-cli-full-calendar/blob/97a63ec97cb21889d51b807f767d50780fd93e08/index.js

[2015-12-22 08:46] jasonmit commented on #132
@stefanpenner do you see anything wrong ember-cli-moment-shim closing over `app.import` to warn if any other parts of the app attempt to import moment?  This keeps resurfacing and not sure how to prevent it.

If I were able to ensure the addon would be pushed to the furthest edge of the DAG then I guess that would also solve it, but would require buy-in for this to be supported in ember-cli.

[2015-12-22 08:47] acerov commented on #132
@jasonmit :+1: I updated to `"ember-cli-full-calendar": "0.0.17"` and it works now.
Is that related to https://github.com/icicletech/ember-cli-full-calendar/commit/11475e7c4beec93958f8134416fd7c8f30bfc72e ?

[2015-12-22 08:47] #132 closed

[2015-12-23 09:26] jasonmit commented on #130
Friendly ping @mellatone

[2015-12-30 17:06] haldiggs opened #133 "shortDate: momentFormat('date', 'MM/DD/YYYY') error"
I'm sure this is just an issue with my configuration... after adding this addon moment seems to work fine, moment() does get a date. However I am trying out some of the examples and when I try to use

    import momentDuration from 'ember-moment/computeds/duration';

    in a controller
    computedNumHours: momentDuration(10, 'hours')
just produces

"TypeError: pattern.indexOf is not a function"

[2015-12-31 03:34] #130 closed

[2015-12-31 03:36] jasonmit commented on #133
Confirming it's a bug, and will patch it tonight.

[2015-12-31 09:56] jasonmit opened #135 "Computeds do not respect service locale"
Computed macros do not respect the service's locale, but that's probably not something we can easily solve unless we decide to inject moment into all common factory types.

What we can do, and probably should do, is support some way of specifying a locale.  Below are two proposals.

[code]

Or support computed composition

[code]

[2015-12-31 16:16] haldiggs commented on #133
cool... so since I loaded this using 'ember install' (forgive me as I try to figure this out), I know I can replace the code locally, how does it get up onto the ember listing? more curious than anything else

[2015-12-31 21:21] jasonmit commented on #133
@haldiggs I'm not sure the question, you want to pull in my branch with the patch?

[2016-01-01 02:57] #133 closed

[2016-01-01 03:04] jasonmit commented on #133
Versioned as 5.0.0

[2016-01-01 22:06] jasonmit commented on #135
@stefanpenner I'm leaning towards the composition approach since it's more flexible and condusive to supporting the entire moment API if we take it further:

`locale(format(moment('createdOn'), 'MM/DD/YYYY'), 'moment.locale')`

[2016-01-02 16:38] stefanpenner commented on #135
isn't the format also locale specific?

[2016-01-02 16:38] stefanpenner commented on #135
this looks good, but seems orthogonal to the locale issue right?

[2016-01-02 16:39] stefanpenner commented on #135
I'm kinda fine with that, but likely only if the thing injected is unlikely to collide with peoples existing properties.

[2016-01-02 20:56] jasonmit commented on #135
Yes bad example with the use of format.  You would use format with locale

[2016-01-02 22:10] jasonmit commented on #135
Not really, since we would be adding locale support to all those computeds by fixing this issue, which means adding a tail argument  or supporting an options hash.  The more I thought about it, the more it makes sense to just mimic the chaining behavior of moment API with our computeds.

[code]

or

[code]

The above approach is more or less what we have today, minus the tail argument for locale.

[2016-01-04 21:40] gzurbach opened #140 "Cannot run with moment 2.11"
Moment 2.11 was released two days ago: https://github.com/moment/moment/releases/tag/2.11.0

This morning our Jenkins test suite failed with the following error: `ReferenceError: Can't find variable: module`.

It's a runtime error thrown during acceptance tests.

After looking at the `bower.json` I noticed that `ember-moment` specifies `"moment": ">= 2.8.0"`. This is the reason why our Jenkins ins

[2016-01-05 03:57] jasonmit commented on #140
Likely caused by the shape of the npm package changing.

[2016-01-05 04:07] jasonmit commented on #140
@gzurbach temporarily going to lock moment to `>= 2.8.0 < 2.11.0` until I find the time to fix.

[2016-01-05 04:22] stefanpenner commented on #140
@jasonmit i believe moment just wants to be compiled via babel or similar.

[2016-01-05 04:23] jasonmit commented on #140
That's like it since we don't do any building, we just consume the disted bower package(s) and pluck the locales your application needs versus using the full dist.

[2016-01-05 04:28] stefanpenner commented on #140
@jasonmit strange that they would change that without bumping a major version..

[2016-01-05 04:34] gzurbach commented on #140
@jasonmit Thanks for getting on this so quickly. Really appreciate the reactivity!

[2016-01-05 05:54] jasonmit commented on #140
@stefanpenner tell me about it, it happened pre-2.8.0 as well.

[2016-01-05 06:06] jasonmit commented on #140
@gzurbach can you paste your `config/environment.js`

[2016-01-05 06:16] jasonmit commented on #140
This appears to be a bug in momentjs as of 2.11.0 https://github.com/moment/moment/issues/2862

Aside from this bug, it doesn't look to be incompatible with ember-moment so I'll remove the lock down once they patch 2.11.0

[2016-01-11 06:38] jasonmit commented on #140
This should now be resolved since 2.11.1 was released.

[2016-01-11 06:38] #140 closed

[2016-01-15 17:24] elidupuis commented on #112
I had an in-repo-addon that was copying moment's locale files into `dist`. I can verify that this update works as expected :clap:

[2016-01-19 05:31] Amareis commented on #126
+1. It's very good function and it must be supported, IMHO.

[2016-01-19 05:39] jasonmit commented on #126
My newest PR (#139) will make adding new features like this easier through composition.  Just waiting on @stefanpenner for a review and then will follow up with a PR to close this out.

[2016-01-19 09:26] jasonmit commented on #126
Versioned as 5.1.0, I will create a separate issue for adding the computed property macro for it

[2016-01-19 09:26] #126 closed

[2016-01-19 09:26] jasonmit opened #144 "Computed property macro support for calendar"
https://github.com/stefanpenner/ember-moment/issues/126 landed helper support for this, computed macro support should follow once #139 is reviewed

[2016-01-22 16:05] figwit commented on #111
For reference, this example project is missing the dependancy in `bower.json`. The `--save` flag is required, as in:

[code]

[2016-01-23 07:01] #135 closed

[2016-01-23 07:07] #144 closed

[2016-01-23 07:07] jasonmit commented on #144
6.0.0

[2016-01-23 07:07] jasonmit commented on #108
6.0.0

[2016-01-23 07:07] #108 closed

[2016-01-23 18:21] jasonmit commented on #112
Great, thanks for the update

[2016-01-27 18:59] cdnrg opened #146 "Interval not working"
I'm not sure if interval is only meant to work with "moment-from-now". I am trying to use this for a simple clock but it is not updating:

`{{moment-format date 'h:ma' interval=1000}}`

New to Ember so let me know if I am making an obvious mistake! Appreciate the help.

Edit - Looking at the source, I see that moment-format.js does not include the check for interval. Would be great to have this fe

[2016-01-27 19:35] jasonmit commented on #146
I am all for this feature request if you wanted to spike a PR

[2016-01-27 19:51] cdnrg commented on #146
#147 Hopefully that will do the trick. Just based it on moment-from-now.

[2016-01-28 13:44] clov3rly opened #148 "{{moment-calendar}} doesn't respect "allowEmpty""
PR coming.

I'd guess the same issue applies to {{moment-duration}} but I haven't used that yet.

[2016-01-29 07:09] badazz91 opened #150 "{{moment-calendar ...}} not found"
Using the ``` {{moment-calendar}}``` helper triggers following error:

```Uncaught Error: Assertion Failed: A helper named 'moment-calendar' could not be found```.

 I'm using  ```"ember-moment": "4.1.0"```.

[2016-01-29 09:49] jasonmit commented on #150
@badazz91 moment-calendar landed in 5.1.0

[2016-01-29 09:49] #150 closed

[2016-01-29 09:50] #148 closed

[2016-01-29 10:36] badazz91 commented on #150
Sry my bad. Updated to the latest ember-moment. Now it works...

But the latest tag on this project is still 4.1.0. Isn't this odd?

[2016-01-30 07:41] jasonmit commented on #146
https://github.com/stefanpenner/ember-moment/pull/151

[2016-01-30 07:41] #146 closed

[2016-01-31 04:16] djsegal opened #152 "How do you ignore prefix/suffix?"
In my hbs file, I have:

`{{moment-from-now post.created_at}}`

I was wondering how you ignore the `ago` that gets added. It seems like #137 fixed something similar.

[2016-01-31 05:52] jasonmit commented on #152
`{{moment-from-now post.created_at hidePrefix=true}}` should do it

[2016-01-31 05:52] #152 closed

[2016-01-31 05:55] djsegal commented on #152
@jasonmit `hideSuffix` in this case, but thank you!

[2016-01-31 05:55] jasonmit commented on #152
:+1: err, yes

[2016-02-10 23:28] cristinawithout opened #153 "Interval on computed property macros fromNow and toNow"
There appears to be a way to update the from now and to now helpers at a given interval but I don't see a way to do the same for the computed properties.

[2016-02-11 00:48] jasonmit commented on #153
There isn't an API for this for now, but I would live to see this feature as well.

[2016-03-01 18:32] Jordan4jc opened #154 "Allow empty set and still see invalid date"
I have a date coming in as `YYYY-MM-DD` but sometimes this is set to `0000-00-00` from my backend, I have defined my `moment-format` as such

    {{moment-format model.event_date "D MMM YYYY" "YYYY-MM-DD" allow-empty=true}}

But I still see `Invalid Date` in the template

[2016-03-01 18:35] jasonmit commented on #154
0000-00-00 is not empty

[2016-03-01 18:39] Jordan4jc commented on #154
Is there a way to not show invalid date and just not render?

[2016-03-01 18:49] jasonmit commented on #154
Not currently, but I am not opposed to adding it.

[2016-03-01 19:22] Jordan4jc commented on #154
That would be helpful, I suppose I can add a computed to my model that returns true if the date is `0000-00-00` but that seems counter intuitive to write a computed just to not show a date, maybe not though.

[2016-03-01 19:22] #154 closed

[2016-03-18 12:16] lindem opened #156 "ember-legacy-views deprecated"
Currently there is a deprecation warning because this addon uses ember-legacy-views.

I couldn't find an issue for this, so I opened one. Are there already things in motion for this?

[2016-03-18 16:30] Panman8201 opened #157 "Provide an ember-data "moment" transform"
It could be used in places where `DS.attr('data')` is currently used. Ex: `DS.attr('moment')`

[2016-03-18 19:08] jasonmit commented on #156
It's a dev dependency, used for testing, so this isn't a concern for consumers.

[2016-03-18 19:08] #156 closed

[2016-03-18 19:09] jasonmit commented on #157
I would be in favor of this being its own addon versus implementing ember-data specific logic in the addon.

[2016-03-18 19:32] Panman8201 commented on #157
Why? It's just providing a transform, not forcing users to use it. And it's moment.js specific...

[2016-03-18 19:34] jasonmit commented on #157
It's ember-data specific, not everyone uses ember-data so not everyone should pay the cost.  It might be less of an issue if the builds shake unused modules, but that's not the case today.

[2016-03-18 20:14] Panman8201 commented on #157
What about just leaving it in the `addon` folder? Then users could add the transform into their `app` when needed and `import` the actual transform from this addon. Provides an "opt-in" feature with no cost.

P.S. I also can't wait for tree-shaking. :smile:

[2016-03-18 20:47] jasonmit commented on #157
The addon folder still gets bundled with the app, but we could create a blueprint for this so users that want this transform can opt into it with `ember g ember-moment-transform` and it will drop the transform where it's needed.

Do you want to spike this PR?

[2016-03-18 21:14] Panman8201 commented on #157
Humm... another good idea. But I thought the `addon` folder was *not* included unless the addon also had an "importing" file in the `app` folder.?.

Sure, I'll try to look into it this weekend (family time permitting).

[2016-03-18 21:15] jasonmit commented on #157
The addon folder is used for namespacing, to prevent collision with the app namespace.

[2016-03-21 02:33] Panman8201 commented on #157
So I started to do some digging and found out that there already is an addon for moment transforms. https://github.com/pk4media/ember-cli-moment-transform I'm torn between continuing with blueprints here or pointing folks to the other addon... Thoughts?

[2016-03-21 04:13] jasonmit commented on #157
@Panman8201 some issues there, that addon uses the obsolete bower dep of `ember-cli-moment-shim` instead of the ember-addon.  That would need to be solved first.

https://github.com/pk4media/ember-cli-moment-transform/blob/master/blueprints/ember-cli-moment-transform/index.js#L12

[2016-03-21 12:55] Panman8201 commented on #157
Yeah, I noticed that. There is an open PR to fix it though, but no action from the repo owner. (sad)

[2016-03-21 19:32] jasonmit commented on #157
Lets just go with the blueprint approach, it makes the most sense and it doesn't look like that project is actively managed anyway.

[2016-03-22 01:03] spovich opened #158 "`ember-getowner-polyfill` dependency: can't use ember-moment 6.1.0 with ember 2.3+"
ember-moment requires `ember-getowner-polyfill` but because `getowner` is natively provided by ember 2.3+, we don't need the polyfill.  In my ember 2.3+ app, I get a hard error `Could not find module 'ember-getowner-polyfill'`

[2016-03-22 01:12] spovich commented on #158
Ok, well, I had it backwards. Doh!  Sorry.

[2016-03-22 01:12] #158 closed

[2016-03-29 16:49] jrock2004 opened #159 "Will helper update model with changed value"
Using your plugin and its pretty cool. The problem I have is when I change the date, the model value does not update. If I do not use your plugin, I do not have this issue. Thoughts?

[code]

[2016-03-29 18:23] jasonmit commented on #159
This is an invalid use, and not a bug with ember-moment.  What you're doing is binding the output of moment-format (a string literal) to an input.  Changing the input isn't changing your model attribute but instead just a string literal.

You likely want to do something using data-down/actions-up where you display a formatted value but editing the input changes the display value.

[2016-03-29 18:23] #159 closed

[2016-04-01 15:24] jrock2004 opened #160 "Ember 2.4 environment.js"
I am trying to set the default format for moment but looking at documentation I am not sure where to put the code. I thought maybe it would go in ENV object but that did not work.  Here is what my env file looks like

[code]

I then created a transformer

[code]

The log does not show the new format. What I am doing wrong here

[2016-04-01 16:34] stefanpenner commented on #160
the docs show `// config/environment.js`

[2016-04-01 16:46] jrock2004 commented on #160
That is from the config/environment.js

[2016-04-02 05:26] jasonmit commented on #160
@jrock2004 the default `outputFormat` is used when invoke the format helper or computed property.  We do not close over moment functions and implement our own logic.

Helper example: https://github.com/stefanpenner/ember-moment/blob/6e17cb6f5136b4914aca6c1a7ad0629b7d5696b3/tests/unit/helpers/moment-format-test.js#L27-L49

[2016-04-07 17:30] zacstewart opened #161 "You should be able to format a date to ISO 8601"
Moment does this by default if you don't specify a format when calling `moment().format()`. Looks like this plugin insists on a default format instead of letting me explicitly say "no format, just give me ISO 8601."

[2016-04-07 17:51] jasonmit commented on #161
This is through the moment-format helper?

[2016-04-07 18:12] zacstewart commented on #161
Sorry, I wasn't clear. Yes. I expected `moment-format myDate` to be ISO 8601.

[2016-04-11 15:19] jasonmit opened #163 "7.0.0 roadmap"
This list will likely grow.

* [x] drop `LLLL` as default format See: #162
  * [ ] Needs documentation explaining breaking change and work around
* [x] bump deps
* [x] add/subtract moment methods exposed as helpers
* [x] query methods as helpers (isSame, isBefore, isAfter, etc.)
[code]

[2016-04-11 15:24] #161 closed

[2016-04-11 15:35] jasonmit opened #164 "Fix CI"
`ember-release` matrix failing because of `ember-template-compiler`

`TypeError: Object.keys called on non-object`

https://travis-ci.org/stefanpenner/ember-moment/jobs/122278886

[2016-04-11 21:28] toobulkeh opened #165 "Support for Moment Addons?"
We'd like to use a [moment-duration-format](https://github.com/jsmreese/moment-duration-format) addon to customize the output of a duration string.

It would be a time saver if this project supported it.

There's [a large discussion](https://github.com/moment/moment/issues/463) on why this isn't incorporated into moment.js with 90x 👍  over the past 5 years.

Doing this manually would require some

[2016-04-12 15:29] jonathansamines commented on #160
I´m just having the same problem with ember@2.4. The default outputFormat configuration doesn´t seems to be affecting the usage of `ember-format` helper.

[2016-04-14 01:27] jasonmit commented on #165
I'd like to keep the features limited to what moment supports and and additional features can be supported with additional addons that extend ember-moment's functionality.

I'll leave the issue opened though for further discussion.

[2016-04-14 01:28] jasonmit commented on #160
Reopened to investigate and at the very least will submit a PR to add test coverage here.

[2016-04-15 10:12] patroqueeet opened #166 "moment-timezone missing"
dear,

I do have identical symptom like #116 after a fresh install with `ember install moment-timezone`. but checked the `ember-cli-build.js` and its clean. but still having the same problem.

I'd be glad about any advice!
ember-cli-build.js
[code]

[2016-04-15 14:12] jasonmit commented on #166
Post your config/environment.js

[2016-04-15 14:14] patroqueeet commented on #166
[code]

[2016-04-15 16:05] jasonmit commented on #166
module.exports = function() {
  return {
    moment: {
      // Options:
      // 'all' - all years, all timezones
      // '2010-2020' - 2010-2020, all timezones
      // 'none' - no data, just timezone API
      includeTimezone: 'all'
    }
  }
};

[2016-04-15 16:05] #166 closed

[2016-04-15 20:13] patroqueeet commented on #166
omg! stupid me. I owe you a favor. It's been right inside your docu... thanks for being patient and very kind!

[2016-04-15 23:24] haldiggs opened #167 "converting UTC"
how would I take my GMT date and convert it to my local timezone?

given
gmtDate="Fri Apr 15 2016 06:21:52 GMT-0500 (Central Daylight Time)"
this usually does it
moment.utc(gmtDate).format("MM/DD/YYYY hh:mm:ss a")

I have enabled the timezone part but just didn't quite see the example that might help me out.

[2016-04-16 17:47] jasonmit commented on #167
http://momentjs.com/timezone/

[2016-04-16 17:47] #167 closed

[2016-04-17 02:54] jasonmit commented on #164
Fix will require using momentForComponent and removing legacy views in the test suite.

Similar to this PR: https://github.com/jasonmit/ember-intl/pull/326

[2016-04-17 15:10] stefanpenner commented on #164
@rwjblue c/d?

[2016-04-17 15:17] rwjblue commented on #164
`moduleForComponent` is the right way to go for testing helpers at the moment, but the specific error in that Travis job linked above was related to a bug I introduced and has been fixed in https://github.com/emberjs/ember.js/pull/13299.

[2016-04-17 19:51] #164 closed

[2016-04-17 19:55] stefanpenner commented on #164
thanks @rwjblue

[2016-05-06 21:07] angelosarto opened #171 "moment-timezone not available."
I am seeing this message when I try to set the timezone.
[ember-moment] attempted to set timezone, but moment-timezone unavailable.

I installed using ember install ember-moment and I added to the config/environment.js:
In package.json I do see ember-moment and the shim but I don't see timezone.
However if I look in bower.json I don't see moment listed at all.

Did I somehow mess up the install?

[2016-05-06 22:41] jasonmit commented on #171
moment and moment-timezone and npm deps in this case, not bower deps.

Running `ember g ember-cli-moment-shim` should resolve this.

[2016-05-06 22:42] jasonmit commented on #171
Reopening since that still doesn't solve your question, but answers your bowser concern.

[2016-05-06 22:44] jasonmit commented on #171
Can you try and reproduce it in isolate and push that project to github so I can inspect.  I cannot reproduce this locally.

[2016-05-06 23:00] #171 closed

[2016-05-07 02:47] angelosarto commented on #171
ember g ember-cli-moment-shim

did seem to the do the trick!  Thanks

[2016-05-07 02:50] jasonmit commented on #171
It sounds like you are on an older version of the shim.  I suspect it is pikaday.  Can you run npm ls ember-cli-moment-shim and less me what that outputs.

[2016-05-07 02:56] angelosarto commented on #171
I am not sure which I had in first, but I didn't add the pikaday change to ember-cli-build.js:

user-app@ /Users/angelosarto/Work/user-app
`-- ember-cli-moment-shim@1.1.0

[2016-05-08 02:59] jasonmit commented on #157
Any progress here @Panman8201?  I'll likely pick it up soon if you haven't started.

[2016-05-08 16:45] stefanpenner commented on #157
Im actually -1 on this, not because it isn't a cool feature. But because when this is done, it is almost always a hefty performance issue in apps. Moment is just not terribly quick, and people tend to load lots of ember-data models.

[2016-05-08 17:48] #157 closed

[2016-05-08 20:03] jasonmit commented on #157
I didn't consider the performance impact.  But I can imagine a scenario where perf is actually worse if each time you need to act on the date attr you need to convert the date into a moment object, I can think this throwing off the perf trade off in the other direction.

I guess the real question is weather transforms happen lazily when accessing attrs or up front.

[2016-05-17 05:58] angelosarto opened #172 "Binding duration to an input value helper"
Would it be possible to bind a duration to an input helper?

I tried this directly and I see an odd behavior:  on initial render the moment gets correctly formatted, however if I focus the textbox and then leave it or change the duration reverts to a few seconds.

I made an ember quick start proof of concept.

https://github.com/angelosarto/ember-moment-updating  (application.hbs and routes/applic

[2016-05-17 06:51] jasonmit commented on #172
Fair question.  What is happening is when you're typing in that input it's converting your numbers to a string.

[code]

What you likely want is to implement data down, actions up.  The input action will make sure it casts the input to a number and sets `inputTime`

That might look something like this:
[code]

[code]

[2016-05-17 06:51] #172 closed

[2016-05-18 10:40] angelosarto commented on #172
It seems so obvious now! Thank you!

[2016-05-20 14:12] choallin opened #173 "Localication is not working"
I want to set the local option gloably in my app/routes/inventorie,js like this:
[code]
In the console I see now that the local is set to "fr", but the date is not formatted right.
Here is the hbs:
[code]
Did I do something wrong or is this not working?
(I'm using Ember 2.5.1 and installed ember-moment with ember install ember-moment a few hours ago)

[2016-05-20 14:18] stefanpenner commented on #173
if possible can you provide a repo demonstrating this issue, it would make it much easier to debug

[2016-05-21 04:44] jasonmit commented on #173
Are you sure you configured ember-moment to bring in the locale data for `fr`?

https://github.com/stefanpenner/ember-moment#i18n-support

[2016-05-23 05:51] choallin commented on #173
In my environment.js I have done this to get the locals:
[code]
Do I have any way to check if the locales are loaded?

[2016-05-23 05:56] jasonmit commented on #173
`moment.locale()` will return the locale that is active. `moment.locales()` gives you a list of all the locales that have been loaded.

Please put together an example reproducing the issue.

[2016-05-23 07:46] choallin commented on #173
You can close this issue.
I restarted the ember server and now I get the right local...

[2016-05-23 07:54] #173 closed

[2016-05-25 22:47] taras opened #174 "Introduction to ember-moment on The Ember Show at Global Ember Meetup"
Would you someone familiar with this library be interested in giving a lightning talk about this addon on The Ember Show? We're recording the next episode on June 11th followed by July 2nd.

An introduction to <addon> talk is about 15 minutes long and covers the following:
- Why was this addon created?
- When should it be used?
- How does one get started?
- What should the person be aware of?

You

[2016-06-02 13:39] steffenbrem opened #176 "Support for ember-calendar format customisation"
I don't seem to find a proper way to allow the `ember-calendar` helper to apply custom formatting (as described in the docs: http://momentjs.com/docs/#/displaying/calendar-time/).

Would a syntax like `{{moment-calendar date sameElse="DD/MM/YYYY HH:mm"}}` be acceptable?

[2016-06-07 08:42] jasonmit commented on #176
:+1:

[2016-06-10 08:57] jobsboris27 opened #178 "How can i change weekdays stadalone?"
Hi!
How can i change weekdays stadalone? And customize Moment.js?
I use moment like service on my component, i can change 'locale' with help 'changeLocale' method, but i want to set month and weekdays names.

[2016-06-10 09:14] jobsboris27 commented on #178
I close issue. You can use moment.updateLocale.

[2016-06-10 09:14] #178 closed

[2016-06-14 17:56] samselikoff commented on #176
In the meantime, is there a way to update global configuration? I tried

[code]

to no avail.

[2016-06-17 19:56] yads commented on #163
I'm looking to implement the add/subtract functionality. Any thoughts on which version of add/subtract to implement. I was thinking of something like:

[code]

Thoughts?

[2016-06-18 09:37] jasonmit commented on #176
https://github.com/stefanpenner/ember-moment/pull/179 should close this out.

You can now pass the format values as attributes (lastDay and sameDay in the example below):

[code]

You can also pass a full format object as the third argument:

[code]

[2016-06-18 09:40] #176 closed

[2016-06-22 20:29] naelkhann opened #180 "Moment helpers timeZone not working?"
Hey,

I'm using ember v.2.5.0 and I'm trying to use ember-moment to beautifully include dates and times. Here are some vague photos of my project. Basically, it seems as though no matter what I change the timeZone value too, the time displayed does not change. It just stays at my standard time (in NY). What's the issue? The second image is how my times are displaying (all different timezones yet s

[2016-06-22 22:02] jasonmit commented on #180
Usually, this happens when you have another addon which might app.import moment.

Can you list out all your addons that your project uses?

[2016-06-29 04:25] yads commented on #163
See #181 for add/subtract functionality

[2016-06-29 08:03] #180 closed

[2016-06-29 08:06] jasonmit commented on #163
Supporting both of those APIs seems appropriate, thanks

[2016-07-04 18:52] yads commented on #163
@jasonmit I just realized that add/subtract mutate the original value. I'm guessing the intent of the add/subtract helpers is to not mutate any of the values passed to the helper.

[2016-07-05 08:48] jasonmit commented on #163
@yads if `moment.add` mutates instead of returns a new instance of an moment object, then I would expect the helper to do the same.  I think it's safe to keep the way it currently is.

[2016-07-05 14:29] yads commented on #163
Currently there is no way to clone a value, which could lead to problems. I don't think people would expect the following to modify their model:

[code]

[2016-07-05 18:43] jasonmit commented on #163
In the example above, is `createdAt` a moment object?

For mutability, we could support `{{moment-add (mut model.createdAt) 1 'days'}}` vs `{{moment-add model.createdAt 1 'days'}}` which would clone `Date` or `moment` objects before doing the addition.

It hasn't been versioned yet, so we can make whatever changes necessary.

[2016-07-05 20:30] yads commented on #163
Actually forget I said anything. I completely forgot that we're already wrapping any input in a moment call which will clone a moment object. I think we're good to go from that standpoint.

https://github.com/stefanpenner/ember-moment/blob/1ed9a81b630303dd5c1ed298329ad2f36f8510af/addon/helpers/moment-add.js#L26

[2016-07-05 21:46] jasonmit commented on #163
@yads sounds good, I'll write some tests around this to validate & prevent regressions

[2016-07-14 07:46] JeroenvdV opened #182 "Using UTC"
Hi,

I'm using this as follows:

`{{moment-calendar drawing.updated_at locale='nl'}}`

However, drawing.updated_at is a UTC time string. It is displayed as the UTC time, but I would like it to be displayed in the user's time zone. How can I tell moment that the input time is UTC rather than local time, so that it is converted? From the moment docs it seems that it is possible to call moment.utc()

[2016-07-14 21:19] jasonmit commented on #182
Something like the follow may work.

[code]

[code]

[2016-07-17 23:56] jasonmit commented on #182
Reopen if this doesn't address your question.

[2016-07-17 23:56] #182 closed

[2016-07-19 11:35] JeroenvdV commented on #182
Thanks, this works with:   `return moment.utc(time).local();`

[2016-08-01 23:13] jasonmit commented on #174
Closing since the event is in the past

[2016-08-01 23:13] #174 closed

[2016-08-01 23:14] jasonmit commented on #160
Is this still an issue?  Feel free to reopen.

[2016-08-01 23:14] #160 closed

[2016-08-02 20:34] gordonbisnor opened #183 "Yesterday === 2 days ago"
I've noticed an issue using moment-from-now where I am setting a date in an Ember Data model field with attr('string') type set  to yesterday (eg 2016-08-01), and it displays as 2 days ago.

I see that an [issue was opened in moment.js](https://github.com/moment/moment/issues/3246) where anything over 24 hours is considered 2 days ago. In my case I'm looking at a date only, but moment must be conv

[2016-08-02 20:53] gordonbisnor commented on #183
I found a workaround for this for my own project, eg:

**template:**

[code]

**component:**

[code]

[2016-08-02 23:36] jasonmit commented on #183
I'd prefer not to deviate from moment's builtin functionality.  That would lead us down a slippery slope.  If the incorrect parsing to datetime is within ember-moment, I'd be happy to fix.

[2016-08-02 23:43] gordonbisnor commented on #183
That makes sense. In this case ember-moment is calling moment() on the field, eg "2016-08-01" and then fromNow. So ember-moment is probably doing exactly what it should do in terms of wrapping moment.

On moment's end it might be nice if there was an option to specify within fromNow that the accuracy need only be in days, or as the poster of the moment issue pointed out, an option to not round to

[2016-08-04 21:23] gordonbisnor commented on #183
What I ended up with here was something more like this, where I realized that I needed to use from/to rather than fromNow/toNow, and then used moment() as a starting point, but formatted to  YYYY-MM-DD to zero out the times to match my date fields, and then compare from there.

[code]

[2016-08-04 21:23] #183 closed

[2016-08-10 17:01] davewasmer opened #184 "Setters for computeds?"
It would be nice to have computed macros that supply getters and setters, at least for the `format` macro.

Our use case is for serializing / deserializing dates in query params. We want easily formatted query param values like `?start=2016-08-10`, but want moment objects to work with in the code, so we end up with:

[code]

It would be nice if we could just do something like:

[code]

You could e

[2016-08-11 00:05] jasonmit commented on #184
I agree with the general approach.  I think we should aim to implement this setter across all the computed.  If the last argument is a function, use it as the setter.

[code]

[2016-08-11 18:38] ptraceur commented on #114
I have the same problem, with ember-cli 2.4

using this method:
[code]

How would you change your default locale nowadays?

[2016-08-11 18:41] jasonmit commented on #114
Isolate the issue and push an example of an app with the bug to github.

[2016-08-11 18:46] ptraceur opened #185 "Can't use other locales, always uses english"
Hi,
I wanted to use another locales so I've tried all the ways I could find on the documentation, but the results were only given in english.

I've tried to define a default locale with the following code:
(this is the only code I have in my application.js route file)
[code]

And this:
[code]

And I'm getting this warning in the js console, although I don't think this is related, but here it is:
[

[2016-08-14 03:19] jasonmit commented on #185
https://github.com/stefanpenner/ember-moment#globally-set-locale is how you change the locale

[2016-08-15 19:50] davewasmer commented on #184
@jasonmit just curious - why make the user provide the setter? At least in the case of `format`, the expected behavior seems pretty obvious (it should read in a string of the same format, and set the underlying aliased property to the parsed value of that string). Are there some edge cases I'm missing perhaps?

[2016-08-15 21:01] jasonmit commented on #184
@davewasmer setter support across all the CP macro.  And it's possible/likely people may want to implement custom setter behavior on moment-format, such as setting another property or assertions.

[2016-08-16 14:36] ptraceur commented on #185
This is my code now, still getting results in english

[code]

[2016-08-16 16:57] jasonmit commented on #185
Push an example app with the issue isolated to github.

[2016-08-18 20:36] Panman8201 commented on #160
Yeah, for some reason I cannot get any options in `config/environment.js` to take effect. I'm trying to set both `allowEmpty` and `outputFormat`. I'm on version 2.7 of ember/ember-cli and 7.0.0-beta.3 of ember-moment.

[2016-08-24 19:47] chamoysvoice commented on #185
I have the same problem @ptraceur, did you solve it?

[2016-08-24 19:50] jasonmit commented on #185
The easiest/quickest way for me to solve these is if I can reproduce it, so if you can throw together a quick dummy app with the bug I can take a look.  FYI, most of the time I've encountered this issue is when another addon also app.imports moment and there for momentjs gets bundled twice.

[2016-08-25 04:23] jasonmit commented on #114
@ptraceur you need to be going through the moment service to change the locale.  This is covered in the README here https://github.com/stefanpenner/ember-moment#globally-set-locale

@tubia `en` is bundled with momentjs by default so referencing it within `includeLocales` isn't needed.  It also seems the first locale to register data on momentjs is set as the default locale so in this case that is

[2016-08-25 04:23] #114 closed

[2016-08-25 04:33] jasonmit commented on #185
Also,  @chamoysvoice and @ptraceur be sure to read https://github.com/stefanpenner/ember-moment#cherry-pick-locales-optimal if you already haven't since you did not mention adding the locales to `config/environment`.

[2016-09-12 20:44] #185 closed

[2016-09-20 04:05] spovich commented on #163
Is there a plan for a minimum ember version supported for 7.0?  I was trying to cleanup old dependencies and when I removed `ember-getowner-polyfill` I got this ```Could not find module `ember-getowner-polyfill` imported from `ember-moment/computeds/format````  The get owner stuff is baked into ember 2.3 and later.

[2016-09-20 23:33] jasonmit commented on #163
@spovich I would think we will support down to 1.13 like we have been.  If you want to work on removing the dependency on `ember-getowner-polyfill` I'd be happy to accept a PR for it.

[2016-09-21 00:34] jasonmit commented on #163
[code]

This is kind of pseudo-code, but it could give you an idea how we could support the older and newer versions w/o adding `ember-getowner-polyfill` as a direct dep. of `ember-moment`.

[2016-09-21 13:41] ihomp opened #187 "shows "Invalid date" in safari (desktop, mobile)"
shows "Invalid date" in safari (desktop, mobile)

[2016-09-21 16:01] jasonmit commented on #187
I need more information.

[2016-09-21 16:04] ihomp commented on #187
Does it work for anyone in safari ?

[2016-09-21 16:07] ihomp commented on #187
Ember 2.1.0

[code]

[2016-09-21 16:19] jasonmit commented on #187
I ran the dummy app against 6.1.0 with Safari and I'm not seeing this.

Which method are you invoking and what is being passed to that method?

[2016-09-21 16:26] ihomp commented on #187
`{{moment-from-now item.bookingDate interval=1000}}`

[2016-09-21 16:28] jasonmit commented on #187
What is the value of bookingDate?

[2016-09-21 16:30] ihomp commented on #187
'2016-05-30T09:12:48+0200'

[2016-09-21 16:32] jasonmit commented on #187
<img width="872" alt="screen shot 2016-09-21 at 9 32 05 am" src="https://cloud.githubusercontent.com/assets/3108309/18719926/4d6612ee-7fde-11e6-94b7-7b06e97497ac.png">

I cannot reproduce this, please through together an example app because there is likely something else going on in your app code.

[2016-09-21 16:34] ihomp commented on #187
in 4 month? 30th of may 2016

[2016-09-21 16:38] jasonmit commented on #187
[code]

[2016-09-21 16:40] jasonmit commented on #187
If you were expecting, "A few seconds ago"

`{{moment-from-now (now) '2016-05-30T09:12:48+0200' interval=1000}}`

[2016-09-21 16:50] ihomp commented on #187
{{moment-format '2016-05-30T09:12:48+0200' 'llll'}}

also works perfectly for me in Chrome and Firefox, but not in safari (tried both mobile and on pc).
safari return "Invalid date".

[2016-09-21 16:54] ihomp commented on #187
@jasonmit any ideas what I should check..
what version of safari do you use?

I use Version 10.0 (10602.1.50.0.10)

[2016-09-21 16:55] jasonmit commented on #187
Was tested on 9.1.2

[2016-09-21 16:55] jasonmit commented on #187
Do you also get Invalid Date if you invoke this directly:

`moment('2016-05-30T09:12:48+0200').format('llll')`

[2016-09-21 16:56] ihomp commented on #187
trying now..

[2016-09-21 16:59] jasonmit commented on #187
Can you also run this command and paste the output:
`npm ls moment moment-timezone`

[2016-09-21 17:01] ihomp commented on #187
WOW! it works like: **moment('2016-05-30T09:12:48+0200').format('llll')**

great...

[2016-09-21 17:03] ihomp commented on #187
├─┬ ember-cli-moment-shim@2.1.0
│ ├── moment@2.15.1
│ └── moment-timezone@0.5.5
└─┬ ember-cli-release@0.2.3
  └─┬ moment-timezone@0.3.1
    └── moment@2.14.1

[2016-09-21 17:05] jasonmit commented on #187
Can you also try `{{moment-format '2016-05-30T09:12:48+0200' 'llll'}}` as string literals instead of referencing `item.bookingDate`

[2016-09-21 17:07] ihomp commented on #187
also works, Mon, May 30, 2016 9:12 AM

[2016-09-21 17:08] jasonmit commented on #187
And finally, try this: `{{moment-format item.bookingDate 'llll' allow-empty=true}}`

[2016-09-21 17:10] ihomp commented on #187
that's doesn't work..

[2016-09-21 17:12] jasonmit commented on #187
Are you sure `item.bookingDate` is a string the moment that it renders?  That definitely feels like what is happening here.

You can validate this using the debugger helper: https://guides.emberjs.com/v1.10.0/templates/development-helpers/

[2016-09-21 18:36] ihomp commented on #187
Thanks alot, I found what was the problem..
I had in my model:

` bookingDate: DS.attr('date'),`

chnaged to

` bookingDate: DS.attr('string'),`

now works..

`{{log 'date: ' item.bookingDate}}`

**chrome:**

`date:  Mon May 30 2016 09:02:48 GMT+0200 (CEST)`

**FireFox**

`date:  Date 2016-05-30T07:02:48.000Z`

**Safari**

`date:  – Invalid Date `

[2016-09-21 18:36] #187 closed

[2016-09-21 21:23] jasonmit commented on #187
Thanks for reporting back, will likely be useful for future travelers!

[2016-09-22 02:34] jasonmit commented on #163
@spovich fixed on master, waiting to version as 7.0.0-stable

[2016-09-22 03:21] spovich commented on #163
@jasonmit nice! Thank you!

[2016-09-24 21:56] stavarotti opened #189 "Support for unix timestamp conversion"
I often find myself doing the following:

[code]

And then

[code]

Adding a `unix` helper would be beneficial and remove the need to have the computed.  Perhaps something like so:

[code]

Does this sound useful?  If so, I can have a PR ready shortly.

[2016-09-24 22:28] jasonmit commented on #189
I am very much in favor :)

[2016-09-28 02:21] #189 closed

[2016-09-28 02:21] jasonmit commented on #189
Thanks again @stavarotti

[2016-09-28 03:44] stavarotti commented on #189
@jasonmit absolutely.

[2016-10-05 16:18] ggstuart commented on #59
Hi,

My app is working perfectly but I'm getting an annoying JSHint error `'moment' is not defined`. Is there something I need to do to avoid this?

[2016-10-05 19:47] jasonmit commented on #59
@ggstuart I need more information than this.  Does the linter provide anymore context (module, filename, line number)

[2016-10-06 10:15] ggstuart commented on #59
Its within my own component, I am calling moment myself.

I am loading a 'blob' of json data as an attribute in one of my models without specifying the details as further models. The data are complex, variable and read-only in this context.

So I am trying to parse this json within a component by loading the date strings into moment objects. Is this a bad pattern? I seem to have access to moment a

[2016-10-06 15:31] jasonmit commented on #59
Did you 'import moment from "moment"' at the top of the module?

[2016-10-06 19:21] ggstuart commented on #59
Thanks, I'm not sure I understand why it works without that. The warning message is gone.

[2016-10-06 19:25] jasonmit commented on #59
It's still accessible as a global, that likely will not change anytime soon.

[2016-10-12 04:57] kitsunde opened #192 "Could we keep the beta of ember-moment out of "latest" on npm?"
Hello!

ember-moment seems to publish beta releases to npm under latest:

[code]

For contrast ember-cli keeps the stable in latest.

[code]

Could we avoid doing that since it makes it hard for dependency checkers to figure out what's the latest stable:

https://github.com/tjunnone/npm-check-updates/issues/285#issuecomment-253027858

[2016-10-12 08:05] jasonmit commented on #192
Sorry about that -- all fixed.  Thanks.

[2016-10-12 08:05] #192 closed

[2016-10-12 08:08] #163 closed

[2016-10-18 18:13] tavosansal opened #194 "Using {{is-between}} helper does not work"
Trying to use the helper:
``` {{is-between date comparisonA comparisonB precision='year' inclusivity='[)'}}```
and getting the following error: ```ember.debug.js:6778 Uncaught Error: Assertion Failed: A helper named "is-between" could not be found```

Not sure if this helper is included in the latest release? I do not see it in the files inside the addon in node_modules. I have tried to uninstall

[2016-10-18 18:18] jasonmit commented on #194
https://github.com/stefanpenner/ember-moment/tree/master/app/helpers

Master and by extension the README is 7.0.0-beta.  If you are pointing to stable, 6.0.0 you will not have this helper.

Hopefully that answers your question.

[2016-10-18 18:18] #194 closed

[2016-10-18 18:23] tavosansal commented on #194
How does one go about installing the beta then? I don't see a tag for it?

[2016-10-18 18:25] tavosansal commented on #194
I figured this is what I needed:  ```ember install ember-moment@7.0.0-beta.5```

[2016-10-18 20:16] jasonmit commented on #194
@tavosansal that is correct or just `ember install ember-moment@beta`

[2016-10-27 08:00] ixSci commented on #176
I can't set it application wide, can I?

[2016-10-27 08:16] jasonmit commented on #176
@ixSci no but I would be open to review a PR that sets formats on the service and the helpers/cps will check there if not passed as an attr.

[2016-10-27 18:34] zen-tmq commented on #38
The README does actually still mention the {{moment}} template helper. Are you saying this is incorrect and it has been removed? If so, maybe the README can be updated to include only supported functionality?

[2016-10-27 18:43] jasonmit commented on #38
The README targets master which is still beta.  Beta has the moment helper, latest does not

[2016-11-04 18:52] xomaczar commented on #185
Having the same problem, everything works if I build production version, in dev I only see en locale

[2016-11-04 18:54] jasonmit commented on #185
@xomaczar likely one of your dependencies is including moment.

Also see https://github.com/stefanpenner/ember-moment/issues/132

[2016-11-04 19:21] xomaczar commented on #185
Can we add some verbiage to README.md?

[2016-11-04 19:25] jasonmit commented on #185
I'd happily review any PR around this since it seems to continue to surface.

[2016-11-10 15:00] FredUK opened #195 "moment-format outputFormat does not support Ember.SafeString"
I'm trying to use a string from ember-i18n as my outputFormat on moment-format but it does not like it and moment throws an error a.match is not a function.

[code]
[code]

[code]

According to ember-i18n:

Apparently moment-format does not support a SafeString as it just tries to pass that object into moment to render it. I think a simple check to see if the property is an instance of EmberSafeSt

[2016-11-11 00:34] cibernox opened #196 "Call static methods on momentjs in the correct locale."
The moment service allows the user to set a locale for the app, but it doesn't change the global moment locale. Instead, it sets a locale in the service and the the `service.moment()` method applies the locale and timezone every time it's called.

Is this behaviour (not changing the global locale) intended? Why?

Assuming it is, now to the real question. MomentJS has a few "static" methods that ar

[2016-11-11 04:43] jasonmit commented on #196
The scope of the locale stays scoped to the app instance versus being an app global.  I feel this has some benefits for testing, instances where someone might have multiple Ember apps running, etc.

That said, I'm still opened to consider setting the global and/or your recommendation for a localize service utility method..

[2016-11-16 11:08] ArekOsiewicz opened #198 "Suggestion: better optimized intervals"
There is much more efficient way to do intervals instead of forcing recalculations of Helper. We should simply update property of Component and let rerender it in Ember's run-loop. Eg:

[code]

[2016-11-16 18:18] jasonmit commented on #198
Components are not the same as helpers so I am having a hard time understAdding this proposal.

[2016-11-16 18:58] ArekOsiewicz commented on #198
If you have a lot of helpers with intervals(eg 100), each recalculation of each helper is processing separately. It's killing your app.
So it's better to use component as above. ...or maybe try something with `notifyPropertyChange`.

[2016-11-16 19:13] jasonmit commented on #198
It's not that simple because components will not work in the same way with subexpressions.  I'm happy to optimize the helper intervals but components do are not a good fit for emitting text.

[2016-11-19 00:12] #198 closed

[2016-11-20 12:28] lolmaus opened #199 "Tag releases in git"
Git tags are missing for 7.x beta releases. Please add them. :bow:

[2016-11-20 12:38] lolmaus opened #200 "Release another beta"
I'm receiving `moment is not a helper` on `6.1.0` and `7.0.0-beta.5`, but it works fine on `master`.

Please release (and don't forget to tag on git!).

:bow:

[2016-11-21 00:34] jasonmit commented on #199
Fixed, thanks

[2016-11-21 00:34] #199 closed

[2016-11-21 00:37] jasonmit commented on #200
7.0.0-beta.6, thanks

[2016-11-21 00:37] #200 closed

[2016-11-21 00:41] jasonmit commented on #195
I recommend creating a helper to unwrap your SafeString, or create a t-helper that returns just a string..  Otherwise, I'd need to support unwrapping all attributes and params because of ember-i18n.  In ember-intl I handle this differently by only returning a safeString for `{{format-html}}`, the normal `t` helper returns a string.

[2016-11-21 00:41] #195 closed

[2016-11-21 20:59] #165 closed

[2016-12-01 11:07] hairetdin opened #202 "message : "Assertion Failed: A helper named "moment" could not be found""
Thanks for the ember-moment. I don't understand why this helper is no default in Ember?
I installed ember-moment with command: `ember install ember-moment`. When i use helper `{{moment date_created 'LLL'}}` or` {{moment date_created 'DD MM YYYY'}}` ember gives an error message: "Assertion Failed: A helper named "moment" could not be found". But the `{{moment-format date_created 'LLL'}}` works corr

[2016-12-01 18:29] jasonmit commented on #202
What version of ember moment are you using

[2016-12-02 16:46] henrymazza commented on #202
+1

[code]

[2016-12-02 20:43] jasonmit commented on #202
The moment helper is only on 7.0.0.  Which is in beta but hopefully soon I'll release.

[2016-12-02 21:34] #202 closed

[2016-12-02 21:43] jasonmit commented on #202
7.0.0 was just released

[2016-12-05 22:00] kellyselden opened #205 "issue upgrading to v7"
I'm having an issue upgrading to v7 https://github.com/kellyselden/package-hint-historic-resolver/pull/282

I think it's related to me having ember-cli-moment-shim v2, and that you had to revert you dep on it to v1. So if it is indeed and incompatibility between the two, this can be a tracking issue.

[2016-12-05 22:39] jasonmit commented on #205
What is the issue?  The test failure looks like a timeout so it's not clear

[2016-12-05 22:46] kellyselden commented on #205
Yea just a testing timeout. The app still functions normally when running, just the acceptance test using `moment-from-now` with an undefined date hangs in v7.

[2016-12-05 23:17] jasonmit commented on #205
I'll investigate tonight, thanks.

[2016-12-06 04:30] jasonmit commented on #205
Fixed on 7.0.3, thanks!

[2016-12-06 04:30] #205 closed

[2016-12-06 05:09] kellyselden commented on #205
No, thank you.

[2016-12-08 10:47] hairetdin opened #206 "output "invalid date""
In the my application template: `Task completed: {{moment-format task.date_closed 'DD.MM.YYYY, H:mm'}}`.
The browser displays the correct date when `task.date_closed` is `Date`, but if `task.date_closed` is `null` the browser displays `Task completed: Invalid date`. Of course, I can put a check in the template, but it is very inconvenient. I think, it is right to not display any messages if set to

[2016-12-08 21:21] jasonmit commented on #206
This is already supported via configuration: https://github.com/stefanpenner/ember-moment#global-allow-empty-dates

Feel free to reopen if you run into issues with this.

[2016-12-08 21:21] #206 closed

[2016-12-12 00:05] jasonmit opened #208 "Replace computedUnsafe for computed"
Deprecation required, should be considered for next major release.  Deprecation should happen before 8.x

[2016-12-15 14:08] k-g-a opened #210 "Using imported moment breaks instanceof check"
`import moment from 'moment';`
`const foo = moment();`
`const foo = moment(); //false`

Makes it harder to integrate this addon into existing project with moment.
It's also quite inconvenient in combination with ember-prop-types.

[2016-12-15 18:34] jasonmit commented on #210
Can you paste the output of npm ls ember-cli-moment-shim and I don't see instanceof used in the snippet above.

[2016-12-15 21:50] jrjohnson opened #211 "Space in date format throws error in 7.0.1"
My tests are failing when updating to v7.0.1 seems to be an issue with spaces in the date format:

Works:
[code]

Fails:
[code]

The failing version spits out the error:
`Brace expanded properties cannot contain spaces, e.g. "user.{firstName, lastName}"`

I wasn't able to get ember-moment to install in a twiddle, but this is pretty easy to reproduce.  I can submit a failing test PR if desired.  Ju

[2016-12-16 00:01] jasonmit commented on #211
7.0.1 was a bad release, are you still seeing issues on 7.1.0

[2016-12-16 00:18] jasonmit commented on #211
@kellyselden good call.  I just reverted your commits, wrote a test to cover this in the future, and versioned 7.1.1.

[2016-12-16 00:19] jasonmit commented on #211
Closing as this is resolved in 7.1.1, we'll open a new issue for tracking adding back the computed helpers.

[2016-12-16 00:19] #211 closed

[2016-12-16 00:20] jasonmit opened #212 "Bring back computed helpers"
We had to reverted in 7.1.1 due to #211.

https://github.com/stefanpenner/ember-moment/commit/19e596f8eb6116ba691e325f87dcef6aaab3295f should help catch future regressions

/cc @kellyselden

[2016-12-16 00:45] jasonmit commented on #210
Added a test to show it is working:
https://github.com/jasonmit/ember-cli-moment-shim/blob/master/tests/unit/utils/moment-export-test.js#L17-L19

It's most likely you were on ember-cli-moment-shim@<3.0.0

[2016-12-16 00:45] #210 closed

[2016-12-16 01:20] jrjohnson commented on #211
I wasn't seeing a failure when adding the test into format-test.  I assume because the actual CP goes through layers, but the unit test just runs against the function itself. That is pure speculation, but it is where I gave up.

[2016-12-16 06:39] jasonmit commented on #211
@jrjohnson master is fixed and I wrote a test to cover this in the future.

Reverting the [revert](https://github.com/stefanpenner/ember-moment/commit/20eaa0420002de03df85baec1b18bc88bd94df04) and running the tests currently should fail:

[code]

[2016-12-16 06:49] k-g-a commented on #210
Thank you!
The thrid line had to be the `foo instanceof moment` line (updated first post).
There was a 2.2.1 version of ember-cli-moment-shim, updating to 3.0.1 solved the problem.

[2016-12-16 06:54] jrjohnson commented on #211
Hmm... Wonder why I was getting a failure there.  Doesn't matter - just wanted to make sure you were so tests would actually cover the issue.  Thanks for the quick response to this.

[2016-12-17 20:27] kellyselden opened #214 "Apply readOnly to all computeds"
The industry is moving towards readOnly computed macros:
https://github.com/emberjs/ember.js/issues/9290
https://github.com/stefanpenner/ember-improved-cp#readonly-by-default
https://github.com/kellyselden/ember-awesome-macros/blob/8b38a000e4248d2855e15081af9553bee63abe88/addon/utils.js#L18

Just want to suggest doing it here too. Would be a breaking change.

In awesome macros, I escape the settin

[2016-12-17 21:44] #212 closed

[2016-12-17 21:45] jasonmit commented on #214
Sounds good, we should add some deprecation warnings ahead of it.

[2016-12-20 19:17] toobulkeh commented on #182
It would be nice if this was a default, or configurable option. The helper with `local()` seems verbose for a common use case (displaying times in the local timezone).

[2016-12-20 19:22] jasonmit commented on #182
Feel free to propose an API that you think would make it easier.  Happy to implement it.

[2016-12-21 10:23] jasonmit commented on #184
We're moving towards implementing readOnly #214.

[2016-12-21 10:23] #184 closed

[2016-12-21 16:57] toobulkeh commented on #182
`{{moment-format-local time}}`

[2016-12-21 21:07] jasonmit commented on #182
I wouldn't want to combine the helpers like that.  But there is nothing stopping you from adding this helper within your own project if it's useful and saves typing over composition:

`{{moment-format (local (utc dateTime))}}` I would prefer this.

[2017-01-06 18:00] mfeltz commented on #196
@cibernox - With regard to the weekdays() method, this might help, I was able to grab the weekdays in the correct locale without as much of a work around doing this: `momentService.moment().localeData().weekdaysShort()[index]`

@jasonmit - I'm using the moment service in my application and where I'm running into the issue of not having the global locale changed is with the helpers because those re

[2017-01-07 07:37] #196 closed

[2017-01-07 07:42] jasonmit commented on #196
7.3.0 resolves this

[2017-01-10 07:21] renpinto opened #218 "Assertion Failed: Cannot call get with 'locale' on an undefined object"
I am on ember 2.10.0 & ember-moment 7.0.1. This is how I have used it in the template,
{{moment-format '27/11/2014' 'MM/DD/YYYY' 'DD/MM/YYYY'}}

I get the following error when I try to run a unit test,
Assertion Failed: Cannot call get with 'locale' on an undefined object.

This was working fine with ember-moment 6.1.0.

<img width="884" alt="screen shot 2017-01-10 at 07 18 12" src="https://cloud.

[2017-01-10 07:23] jasonmit commented on #218
Is this failing in your test specifically or is the moment-format helper also throwing in your app code?

[2017-01-10 09:18] renpinto commented on #218
It was just the test that was failing. Adding ['service:moment'] to needs solved my issue.
Thanks for your help...

[2017-01-10 09:18] #218 closed

[2017-01-16 18:06] kellyselden opened #219 "enable greenkeeper"

[2017-01-25 03:18] arschmitz opened #221 "global allowEmpty not respected in computed macros"
Even with the global allowEmpty set to true the computed macros still output invalid date when there is no input value

[2017-01-25 22:07] jasonmit commented on #221
Yes, this is a known limitation and reflected in the README around allowEmpty.  In any case, I would like to support this.

[2017-01-26 03:15] arschmitz commented on #221
Maybe i'm crazy but i don't see any notes in the readme that this does not work with computed macros.

[2017-01-26 04:10] jasonmit commented on #221
I just mention moment helper will respect it.

[2017-01-31 16:56] muesli opened #225 "Non-working example in README"
The example

  {{moment '12-25-1995' 'MM-DD-YYYY'}}

isn't working for me as intended. It just returns the input-string - which happens to return the expected result for this example, but won't work with other timestamps.

[2017-01-31 20:32] jasonmit commented on #225
I am unsure what you are intending.

[code]

Currently returns:
[code]

[2017-02-01 11:01] zion03 opened #226 "Problem with fastboot"
Trying to start my application in fastboot mode and receive:
`Error: Unable to require module 'moment-timezone' because it was not in the whitelist.`

[2017-02-01 18:04] jasonmit commented on #226
Did you add it to fastboots whitelist?

[2017-02-01 21:48] jasonmit commented on #226
https://github.com/ember-fastboot/ember-cli-fastboot#whitelisting-packages

[2017-02-01 21:48] #226 closed

[2017-02-02 11:08] zion03 commented on #226
Thnaks, didn't notice this section in documentation.
I added to `package.json`
`  "fastbootDependencies": [
    "moment-timezone"
  ]`
And having a problem: `Cannot find module 'moment-timezone'`
What I'm doing wrong?

[2017-02-06 09:47] #225 closed

[2017-02-06 11:04] muesli commented on #225
Sorry, I think I simply misunderstood the API - which isn't your fault, but moment.js's... or mine ;-)

[2017-02-22 08:00] herzzanu opened #227 "Update documentation"
`this.get('moment').setTimeZone('America/Los_Angeles')` should be
`this.get('moment').set('timezone', 'America/Los_Angeles')`

and
`this.get('moment').setLocale('es')` should be
`this.get('moment').set('locale', 'es')`

At least that's how it works for me.

[2017-02-22 21:14] jasonmit commented on #227
Yes you can go around the moment service but it is the public API for a reason.  Moment does not trigger events on locale change, and I have no intentions of monkey patching moment to observe locale changes.  This is required so people go through these setter methods in order to trigger things like helper recomputes when the locale changes at runtime.

[2017-02-22 21:14] #227 closed

[2017-02-24 00:19] shiro-saber opened #228 "Using locale='es' doesn't change language to spanish"
Hello, I'm wondering if theres a war to change the date output language, because using
` {{moment-format date 'ddd DD-MMMM-YYYY' 'YYYY-MM-DD' locale='es'}}`
is not making the work, I also probe putting in the route this:
`beforeModel(){ moment.locale('es'); }`
and also not working.
And lately I tried to use it like this:
`{{moment-format date locale='es' 'ddd DD-MMMM-YYYY' 'YYYY-MM-DD'}}`
And agai

[2017-02-24 00:48] jasonmit commented on #228
I'll assume you already configured your app to pull in all the locales:
https://github.com/stefanpenner/ember-moment#include-all-locales-into-build

This has been discussed a number of times, here is one example:
https://github.com/stefanpenner/ember-moment/issues/132

[2017-02-24 00:48] #228 closed

[2017-02-24 00:50] jasonmit commented on #228
If it's still an issue, throw together an example app that can reproduce it and reopen.  But like most of the other past issues, this has been caused by another addon.

[2017-03-10 22:29] musaffa opened #229 "A config setting for invalid date message"
A feature request.

Currently, if the date is invalid the template helper outputs `Invalid date`. The users might think there's something wrong in the data but if it is perfectly to valid to have empty dates. It is perhaps more desirable to display an empty `""` or `empty date` message to the user instead of showing `Invalid date`. If there were a config option (global and local) to set a message

[2017-03-10 22:33] jasonmit commented on #229
You can configure it to accept empty dates to avoid the Invalid Date:
https://github.com/stefanpenner/ember-moment/blob/92a75466ce08715720204589e710481dd7b41dd7/README.md#global-allow-empty-dates

As for configuring the error message, "Invalid Date," that's handled internally within momentjs and I don't know off the top of my head if their is an API to configure it.

Happy to consider a pull reque

[2017-03-10 22:46] musaffa commented on #229
I've already configured `allowEmpty` to `true` but `Invalid date` message is still an issue.

[2017-03-11 00:27] jasonmit commented on #229
@musaffa do you know what the value (empty string, null, or an invalid date string, etc.) you are passing into the helper is?  Which helper are you using?

[2017-03-11 10:19] musaffa commented on #229
I'm using `moment-format` helper. As this helper already handles invalid dates, I don't to want to handle invalid dates myself. All I want is the ability to override the default output message with invalid dates.

[This](http://stackoverflow.com/a/38955292/479407) answer in SO suggests using `moment.js`' locale to override the message:
[code]

[2017-03-12 04:22] jasonmit commented on #229
@musaffa I'd expect that to hold true, have you tested that against ember-moment?  Assuming you are on the latest, I'd expect that to work.

[2017-03-12 21:58] musaffa commented on #229
I tried but it didn't work. `ember-moment` probably doesn't support `updateLocale`.

[2017-03-13 07:58] jasonmit commented on #229
@musaffa ember-cli-moment-shim (the thing you import `moment` with) is a very thin wrapper around momentjs and it looks like it's private, `_invalidDate`, I would defer to opening an issue within momentjs if you need first-class support for changing this string.

[2017-03-13 07:58] #229 closed

[2017-03-20 14:28] zion03 commented on #226
Any suggestions, I still have this problem. How to add `fastbootDependencies` correctly

Thanks

[2017-03-20 14:57] zion03 commented on #226
Solved. Application also require `"moment-timezone": "^0.5.0",`

[2017-03-22 14:00] vashchenkov opened #230 "How can I set short month for locale?"
I need to change short month in moment.
But I can't do it.
I have try to set
`localeOutputPath: 'assets/moment-locales'`
And call
`Ember.$.getScript('/assets/moment-locales/ru.js');`

In this case i have ember-mirage error
`Your Ember app tried to GET '/assets/moment-locales/ru.js?_=1490191145335',
         but there was no route defined to handle this request.
         Define a route that matches

[2017-04-03 10:08] kekbur opened #231 "includeTimeZone: '2010-2020' broken"
The latest release of moment-timezone (0.5.12) has broken the ember-moment configuration option ```includeTimeZone: '2010-2020'```. The new truncated time zone data file covers years 2012-2022.

[code]

Trying to use ```2012-2022``` as the configuration value produces the following output:

[code]

Would it be possible to support configuration value ```truncated```, which would automatically selec

[2017-04-03 20:35] joestein216 commented on #231
Seems like ember-moment is doing the right thing and moment-timezone introduced a breaking change in a patch release.

This workaround kept me going today:

https://github.com/moment/moment-timezone/issues/466

I can't really think of a way to keep the includeTimeZone options in sync with moment-timezone unless moment-timezone also followed and provided a 'truncated' option; which sounds like a mo

[2017-04-05 01:20] jasonmit commented on #231
I release ember-cli-moment-shim 3.0.3 to lock the dep to <= 0.5.11 and I'm in the process of versioning 3.0.4 which will support 2010-2020, 2012-2022 but will encourage users to use the option "subset" to signify you only want the subset of data.  This way we're not dealing with this again in a few years.

[2017-04-05 01:20] #231 closed

[2017-04-05 01:30] jasonmit commented on #231
3.1.0 was just versioned with the deprecation of "2010-2020" and the new option name "subset" (will scale better :)).

[2017-04-05 01:34] jasonmit commented on #230
@vashchenkov this is more a momentjs question but this should give you the data you want:

[code]

[2017-04-05 01:34] #230 closed

[2017-04-20 08:07] dossorio opened #233 "Way of customizing long date formats ?"
Hi @stefanpenner ! Thanks for the addon, its being really useful !

I was wondering how you would say we should customize long date formats as shown [here](http://momentjs.com/docs/#/customization/long-date-formats/)

For now we followed the approach you describe [here](https://github.com/stefanpenner/ember-moment#configure-default-runtime-localetimezone), the only thing is that we are not able to

[2017-04-20 08:25] jasonmit commented on #233
@dossorio that looks like a fine way to update the locale data.  Feel free to send over a PR if you would like to add `updateLocale` to the service if you find it valuable.

[2017-04-20 08:25] #233 closed

[2017-05-04 17:43] wuarmin opened #235 "this.get('moment').moment().utc does not work properly"
Hello,
I have an issue with utc.
Following code works:
[code]
and following does not work:
[code]
What's my mistake?
Thx

[2017-05-05 08:10] wuarmin commented on #235
I resolved the issue after reading moment js guides. Here is my solution.
[code]

[2017-05-07 04:19] Aaronfischer opened #236 "Returning and overriding the timeZone within tests"
I can't determine if this is something that is automatic and I'm just experiencing a setup/config issue or if my assumption on this is off.

Does ember-moment have a service that automatically returns you the user's timeZone?
I'm attempting `this.get('moment.timeZone')` but it returns null. (However, I can set it with `this.get('moment').setTimeZone('America/Los_Angeles');`)

We've recently change

[2017-05-11 08:26] bartocc opened #237 "New release ?"
7.3.0 was released Jan 7, 2017 but since, ember-macro-helpers has been updated a few times.

Wouldn't it be appropriate to cut a new release ?

PS: on a side note, looks like tags have not beed added to the repo since 7.0.1

Ju

[2017-05-11 18:25] jasonmit commented on #237
@kellyselden any chance you can help bring ember-moment up to the latest API?

[2017-05-12 03:14] kellyselden commented on #237
@jasonmit done #238

[2017-05-12 18:32] ashrafhasson opened #239 "moment-from-now does not return unit as per locale"
Thanks for the awesome addon.

I've been struggling to get this to return the unit, years in this case, in the locale I've set on the helper:

`{{moment-from-now "Sat Jul 01 1978 21:18:08 GMT-0400 (EDT)" locale='ar' hideSuffix=true}}`

the figure returned looks good but the unit doesn't get changed to what it's supposed to be:

`39 years`

I've already set includeLocales: true in config.environmen

[2017-05-12 18:50] jasonmit commented on #239
There isn't an issue and I validated that with a test:
https://github.com/stefanpenner/ember-moment/commit/49e7fa4ec1c914733006aff7df4c8625725a628b

The only thing I can guess is you have another addon which is also requiring momentjs and that is taking presedence over the one ember-moment (ember-cli-moment-shim) brings in.

`yarn why moment` to see which other addons might be requiring moment as

[2017-05-12 18:50] #239 closed

[2017-05-12 19:10] ashrafhasson commented on #239
@jasonmit nice one, I didn't have yarn (maybe I should!) but I trimmed my package.json removing `"ember-welcome-page": "^2.0.2"` and that did the trick, thanks!

[2017-05-21 21:14] jasonmit commented on #237
Included in 7.3.1

[2017-05-21 21:14] #237 closed

[2017-05-27 04:03] notacoat opened #240 "diff computed property and helpers"
any plans on adding diff (https://momentjs.com/docs/#/displaying/difference/)?

[2017-05-30 01:25] jasonmit commented on #240
@EmilyBarbour would happily review a PR that adds this.

[2017-06-14 01:45] jasonmit commented on #240
Thanks for landing the helper portion of this issue: https://github.com/stefanpenner/ember-moment/pull/241/files

[2017-06-14 02:36] EmilyBarbour commented on #240
If no one picks this up, will do in the next couple of weeks; just a bit busy now with work and have more of an immediate need for the helper.

[2017-06-14 05:14] jasonmit commented on #240
@EmilyBarbour no rush :)  If I can carve out time between now and then I'll also jump in.

[2017-06-15 05:59] thomaswrenn opened #243 "Update moment to the lastest 2.x.x"

[2017-06-19 04:40] erichonkanen opened #244 "How to handle timezone issue with moment-from-now?"
Hello,

I have a time that is ahead a few hours in timezone that is being displayed improperly, how could I resolve this?

Example: The time should be displayed as "a few seconds ago" but instead it is "in 3 hours"

[code]
I added that per the docs but no effect,

thanks!

[2017-06-20 03:09] jasonmit commented on #244
Are you setting the timeZone globally or passing it in as an attribute?

https://github.com/stefanpenner/ember-moment#configure-default-runtime-localetimezone

[2017-06-20 03:11] jasonmit commented on #243
https://github.com/jasonmit/ember-cli-moment-shim/blob/master/package.json#L38 covers the entire major range.  Will bring in the latest of 2.x.x by default.

[2017-06-20 03:11] #243 closed

[2017-06-20 08:30] mitchiru commented on #244
I a similar issue. I have a server date which is represented in UTC "Tue Jun 20 2017 08:02:35 GMT+0200" but my local time is +2. Ember moment still shows UTC.

My setup:

package.json:
"ember-moment": "^7.3.1"

env~.js
    moment: {
        includeLocales: ['de'],
        includeTimezone: 'all'
    },

application router:
    moment: Ember.inject.service(),
    beforeModel() {
      this.get('mome

[2017-06-20 08:39] mitchiru commented on #244
I got it running with this transform https://github.com/thoughtbot/ember-utc-transform

[2017-07-21 01:58] jasonmit commented on #244
If anyone can replicate the issue and push an example somewhere please do and reopen.

[2017-07-21 01:58] #244 closed

[2017-07-27 23:45] jdurand opened #246 "Odd & inconsistent behaviour from moment-format and is-after helpers"
I have something like this in a template:
[code]

### The inconsistent
The **is-after** helper logs the `an empty value (null, undefined, or "") was passed to moment-format` warning while the **moment-format** helper renders without any warning. Everything works as expected; the time is rendered with the _late_ class (if now is after dateTime)... but with an ugly console warning :-(.

### The odd

[2017-07-28 13:09] rwwagner90 opened #248 "interval not recomputing properly with (now)"
I tried using the `now` helper and it never recomputes:

`{{moment-format (now) 'LT' interval=1000}}`

However, if I pass undefined, it does recompute:

`{{moment-format undefined 'LT' interval=1000}}`

Any ideas on this? Would like to be able to pass `(now)` instead of `undefined`.

[2017-07-28 20:39] jasonmit commented on #248
I believe you want `{{moment-format (now interval=1000) 'LT'}}`

[2017-07-28 20:39] jasonmit commented on #248
Feel free to reopen if this continues to be an issue

[2017-07-28 20:39] #248 closed

[2017-07-28 20:43] jasonmit commented on #246
Thanks for reporting, I will look into this to see what can be done to improve consistency.

[2017-07-29 11:56] rwwagner90 commented on #248
@jasonmit shouldn't we update the README then? It doesn't show that here https://github.com/stefanpenner/ember-moment#live-updating-of-displayed-time

[2017-07-30 05:17] jasonmit commented on #248
@rwwagner90 thanks for calling that out - I've updated accordingly and sorry the docs mislead you!

[2017-07-30 11:30] jonnedeprez opened #249 "compatibility with Ember 2.14"
When I create a new Ember project using ember-cli 2.14.1 and install ember-moment as the only addon, the app doesn't boot:

`ember s`

    at Object.validate (/home/jonne/Temp/test-upgrade/node_modules/babel-types/lib/definitions/index.js:109:13)
    at Object.validate (/home/jonne/Temp/test-upgrade/node_modules/babel-types/lib/index.js:505:9)
    at NodePath._replaceWith (/home/jonne/Temp/test-up

[2017-07-30 11:48] urbany commented on #249
Hi, just upgraded and I'm getting the same error. Alson on ember-cli@2.14.1

[2017-07-30 11:53] jonnedeprez commented on #249
The issue seems to be that Babel can't transpile the
`require('ember-getowner-polyfill')`
in get-owner.js. I'm checking if I can make it work by disabling some babel plugins

[2017-07-30 15:29] quincyle commented on #249
I'm seeing the same error with `ember-cli: 2.12.3` and `ember-moment: 7.4.0`. Downgrade to `ember-moment: 7.3.1` fixed the issue.

[2017-07-30 15:55] jonnedeprez commented on #249
This
`require('ember-getowner-polyfill')`
line is a trick to get a conditional import of that module, which you can't do with ES6 import. But babel doesn't deal with it. For now, I'm going with a [fork](https://github.com/jonnedeprez/ember-moment) of this project. Does anyone have an idea for a real fix?

[2017-07-30 17:05] lolmaus commented on #249
@jonnedeprez Thank you for your temporary solution. :bow:

[2017-07-30 17:22] rwjblue commented on #249
This addon should be updated to depend on ember-getowner-polyfill@2.0.1 directly. The newer versions of that polyfill are a true polyfill, so there is no need to require a custom module like is done now. Once that is updated the a`addon/utils/get-owner.js` file should be removed (or simplified to just `export default Ember.getOwner`).

[2017-07-30 22:37] jasonmit commented on #249
Versioned as 7.4.1 - thanks everyone

[2017-07-30 22:37] #249 closed

[2017-08-02 01:25] bhernez commented on #228
Hi, I know this issue has been discussed several times, I just wonder _how can it be debugged in a project if there's any other plugin causing this conflict._

I mean I made an: `npm ls moment` and a `bower ls moment`, and in my case it showed:
[code]

[code]

But I don't know if this output reflects that these plugins might be causing this behavior, and if they do, what can I do to fix it?

[2017-08-02 08:46] jasonmit commented on #228
@bhernez I would expect to see ember-cli-moment-shim in `npm ls moment`  It's a dependency of ember-moment and it's responsible for pulling in the momentjs and locale/timezone data.

[2017-08-06 02:18] Techn1x opened #253 "Min/Max support?"
So I've recently come up against an issue where my server and clients can be slightly out of sync, so the time that the server reports to the client for an action that has always happened in the past, can sometimes look to the client to be a few seconds in the future.

For example, my current code is
[code]

If the server gives the client a time that is a few seconds in the future, it shows up as

[2017-08-09 18:58] dirkdirk opened #255 "Install issue w/ ember-cli 2.10 and 2.14"
Created a new ember app to test with the following:

[code]

Run ember server and get the following with both ember-cli 2.14.1 and 2.10.0:

[code]

Not sure what to try next.

[2017-08-09 19:23] jasonmit commented on #255
Cannot reproduce with a fresh install of ember-cli and ember-moment/ember-cli-moment-shim.  If you can throw together an example that reproduces please reopen.

[2017-08-09 19:23] #255 closed

[2017-08-11 14:52] Frozenfire92 opened #259 "Add support for fallback"
For example, if I set `allowEmpty` in my environment.js I would also like to be able to specify a default instead of nothing. For example I could render `--` where there is no date (instead of the Invalid Date message or nothing)

[2017-08-11 14:57] Frozenfire92 commented on #259
From a quick investigation, it looks like [this](https://github.com/stefanpenner/ember-moment/blob/8ed82bd4d78e83fff3e403a4a846cf0cabe1ca23/addon/utils/helper-compute.js#L23) is the right place to add it? If so I'd be happy to submit a PR for this

[2017-08-13 20:41] jasonmit commented on #259
@Frozenfire92 I am fine with adding fallback support

[2017-10-01 19:14] lolmaus commented on #153
How can I do that?

[2017-10-01 19:22] lolmaus commented on #153
Ok, this undocumented approach worked for me:

    {{moment-from-now (moment timeMs) (now interval=1000)}}

This also works, kinda documented:

    {{moment-duration (moment-diff (moment timeMs) (now interval=1000))}}

[2017-10-01 23:48] jasonmit commented on #153
@lolmaus feel free to send a PR to update the docs where you feel it's lacking.

[2017-10-03 22:33] Techn1x opened #261 "Dynamic/automatic interval for live updating"
I've been using the `moment-from-now` helper a lot, and on one of my pages I use it many times with varying times supplied, like so;
`{{moment-from-now reportedTime interval=1000}}`

This is useful because they will display `a few seconds ago` then change value accordingly as the supplied times get older. However, once the times get older, it's far less critical to have the interval so precise (fo

[2017-10-11 14:30] medokin opened #262 "Ignores locale on fastboot server"
Fastboot renders always in `en`, and ignores language setting.

[2017-10-12 04:03] jasonmit commented on #262
What version of ember-moment and ember-cli-moment-shim are you using

[2017-10-12 07:19] medokin commented on #262
Latest:

[code]

[2017-10-13 08:29] jasonmit commented on #262
The behavior should be the same out of the box but you may need to explicitly configure the shim to bring in the locales.  https://github.com/jasonmit/ember-cli-moment-shim#i18n-support

I still will treat this as a bug and figure out why both environments are not behaving identically w/o configuration.  Will just take me a few days until I can get around to it but the above may work for now.

[2017-10-18 02:10] jasonmit commented on #261
@Techn1x I like this.  Definitely agree with the general idea just unsure about the implementation right now.  Perhaps we can look to other projects tackling this for inspiration on how they "back off" on counting within certain windows of time.

[2017-10-24 22:31] Techn1x opened #263 "Implement Ember.Copyable"
Obviously it's easy to copy a moment just by wrapping it in moment(), but if I wanted to copy a moment using `Ember.copy(value, true)` then moment needs to implement Ember.Copyable for this to work

Is this possible?

A use case could be having an object like the following;
[code]
Then wanting to do `Ember.copy(momentHash,true)`

Thoughts?

[2017-10-26 08:42] jasonmit commented on #263
You'll want to open this against ember-cli-moment-shim.

[2017-10-26 08:42] #263 closed

[2017-10-29 12:25] Techn1x commented on #261
When we add it, it would be good if we somehow make the backoff logic/values easy to override - that way if the way we implement it isn't perfect, the code can still be used by most but tweaked as needed.

[2017-11-16 09:27] jasonmit commented on #261
@Techn1x I like that idea... allow a strategy to be passed in as a prop or defined somewhere in the app (service?).

[2017-12-06 23:54] Techn1x commented on #261
Had another quick think about this... the best, most accurate backoff strategy that would probably work for everyone would be if we somehow had a list of the defined intervals that fromNow uses, and adjust the update interval to always be when the next change is due to occur

Assuming the following 'fromNow' intervals;
[code]
etc.

If a time was received that was 3 minutes 12 seconds ago, the next

[2017-12-07 12:19] Techn1x commented on #261
This will help to retrieve the existing humanized intervals
https://github.com/moment/momentjs.com/blob/master/docs/moment/07-customization/13-relative-time-threshold.md

[2017-12-13 14:46] villander opened #264 "Moment duration don't woks"
I wan show my seconds as minutes

https://www.npmjs.com/package/moment-duration-format#basics

[code]

How i do this with ember-moment?

Look my code: `{{moment-duration seconds "minutes"}}`

If i put `10` seconds, ember-moment showed `10 minutes`

When i do this in component.js i have this error: `Uncaught TypeError: _moment.default.duration(...).format is not a function`,

[code]

[2017-12-13 16:10] #264 closed

[2017-12-20 12:41] fayaz-rvce opened #266 "How to format epoch string"
Can anyone help me format a epoch timestring to desired format. What is the correct syntax for it?

[2017-12-26 04:44] jasonmit commented on #266
[code]

[2017-12-26 04:44] #266 closed

[2018-01-23 21:53] jasonmit opened #268 "Fix CI"

[2018-01-24 00:38] #268 closed

[2018-01-26 13:47] xomaczar opened #270 "Adding UTC computed macro"
Would you guys be willing to add another computed macro dealing with UTC mode?

[2018-01-30 16:21] jrock2004 opened #272 "isSameOrAfter Returning False when It Should Be True"
So I am trying to do the following to compare 2 dates, but its returning false when it should be true. Here is what my code looks like

[code]

Here is what is in my console log

[code]

So what am I missing? Thanks

[2018-02-03 06:58] jasonmit commented on #272
Unsure to be honest, you're invoking momentjs directly and therefore ember-moment isn't involved.

[2018-02-03 06:59] jasonmit commented on #270
Absolutely

[2018-02-15 20:32] crotwell commented on #270
I think [pull/274](https://github.com/stefanpenner/ember-moment/pull/274) addresses this plus other uses of utc. Hopefully it is acceptable, if not please let me know.

[2018-02-18 00:00] #270 closed

[2018-02-27 19:59] crotwell commented on #235
I believe this is fixed and will be in the next version (7.7.0?), where you will be able to do
[code]

[2018-02-27 21:08] wuarmin commented on #235
Ok, thank you for the info!

[2018-03-20 18:56] dirkdirk commented on #255
Finally got back to this.

A re-install all the node modules fixed it: delete `./node_modules` then `$ npm install`

[2018-03-23 18:09] jamesarosen opened #276 "Feature request: moment transform"
It'd be lovely to have an ember-data transform so I can make all model date fields `moment`s:

[code]

[2018-04-02 23:45] jasonmit commented on #276
@jamesarosen this was asked for in the past.  @stefanpenner was against it because of the perf impact.

Context: https://github.com/stefanpenner/ember-moment/issues/157#issuecomment-217732169

[2018-05-14 12:27] medokin opened #277 "is-same randomly fails - really!"
Ember 2.18
ember-moment 7.7.0

[code]
![2018-05-14_14-26-31](https://user-images.githubusercontent.com/456683/39997344-deee9998-5782-11e8-9486-ca61a3e92ffa.gif)

Maybe related to https://github.com/stefanpenner/ember-moment/issues/272

[2018-05-25 21:09] jasonmit commented on #277
Can you write a fail test?

[2018-06-07 17:05] nathanhammond opened #280 "changeLocale resulting in upstream memory "leak""
This results in a memory "leak" inside of moment.js:
https://github.com/stefanpenner/ember-moment/blob/26d8a29/addon/services/moment.js#L45

The default empty object passed in changes the invocation signature here:
https://github.com/moment/moment/blob/497f918/src/lib/locale/locales.js#L119

As a consequence, each invocation to `updateLocale` creates a new `Locale` which ends up with a reference t

[2018-06-07 19:55] stefanpenner commented on #280
Just to make sure I'm following correctly. We essentially keep growing this object https://github.com/moment/moment/blob/497f918/src/lib/locale/locales.js#L13 because for each `name` variant, we create a new `config`. Which is inserted into moments global `locales` object?

If that is the case, the leak still occurs for people who switch locals if they provide their own config.

Given that, it wou

[2018-06-07 21:01] nathanhammond commented on #280
Basically, moment.js itself behaves "badly" if continuously call their `updateLocale` function. In their defense it really doesn't make sense to call `updateLocale` very many times, especially for no-op reasons with `{}`. That method is intended to actually mutate the locale configuration, it just happens to have a side effect of switching to the locale you pass in.

So, given that, the problem li

[2018-06-08 15:27] stefanpenner commented on #280
@nathanhammond can you think of any downsides to:

[2018-06-08 20:02] nathanhammond commented on #280
Any user who is relying on `MomentService#setLocale`, `MomentService#changeLocale`, or `MomentService#updateLocale` to trigger a global `moment.locale()` change will be impacted in a non-obvious way. I'm not sure there is a 100% backwards-compatible change here.

We currently have two sources of truth for `moment`: configuration which is in the service, and configuration which is in the `moment` o

[2018-07-05 15:23] MrChriZ opened #282 "Format todays date"
How can I format todays date.
I've tried variations of {{moment now 'MM-DD-YYYY'}}
but I just get invalid date

[2018-07-06 02:54] ehubbell commented on #226
@zion03 Running into the same issue that you had here. Curious, how exactly did you inject `"moment-timezone": "^0.0.0" into your project beyond the `package.json` file? Thanks in advance!

[2018-07-31 19:28] balinterdi opened #284 "Falsy second parameter for `moment-format` doesn't use default format"
Maybe I'm wrong but if the value of the second parameter passed to `moment-format` is a falsy value, I'd expect the date to be displayed in the default format.

That's currently not the case as the code checks the number of parameters passed explicitly and only uses `moment.outputFormat` (the default format set in the configuration):
https://github.com/stefanpenner/ember-moment/blob/v7.7.0/addon/h

[2018-08-03 15:52] Straightline commented on #253
Might be a bit late but, in version 2.7.0 of momentjs, both `min` and `max` are deprecated [here](https://momentjs.com/docs/#/manipulating/max/) but I have found a workaround.

You can create a helper than takes an argument that is a time, and then inside the helper it compares a `new Date()` variable to the argument passed into the helper, it checks if the argument is greater than the new variabl

[2018-08-05 02:12] Techn1x commented on #253
Thanks @Straightline I'll probably do something similar to what you described. Thinking I'll extend the existing `moment-from-now` helper and add new args `min` and `max`, so that it still has support for `interval`.

Whenever I get around to it I'll make sure I post the code here, even though it's been a year since the issue was created, this has just been a fairly minor issue for our site.

[2018-08-21 06:58] erichonkanen opened #286 "Feature Request: moment-range"
It would be great if this library contained a template helper to automatically create a range of dates using [moment-range](https://github.com/rotaready/moment-range)

[2018-08-26 13:51] mickbyrne opened #287 "Can't work out how to change timezone of a date for display"
I have a model that creates a property as a `moment` instance, always at UTC time. When being displayed in my template, I'd like to have the moment changed to a different timezone. I've tried this in my `.hbs` template:

    {{moment-format model.timestampUTC 'd MMM, HH:mm' timeZone='Australia/Sydney'}}

But it continues to output the time in UTC. I've also tried creating a computed property on my

[2018-09-04 15:35] scottkidder commented on #287
I think you need to interact with the moment service to change the timezone for moment-format. Try setting the display timezone there and see if that gets you anywhere.

[2018-09-07 13:04] scottkidder opened #288 "Release"
It's been quite some time since a release. Can we get one cut shortly?

[2018-09-10 10:46] davidnewcomb commented on #288
We have started a project to replace all the packages which give deprecation notices. So for us this package is on the chopping block if we don't get something soon.

[2018-09-14 17:48] #286 closed

[2018-09-18 19:15] jasonmit commented on #288
Just released 7.8.0, thanks!

[2018-09-18 19:15] #288 closed

[2018-09-18 21:07] scottkidder commented on #288
Thanks @jasonmit

[2018-09-24 14:57] algodave opened #289 "Improve timezone handling in service's moment() method"
I'm using `moment` service in my app, and setting timezone globally as [explained in Readme](https://github.com/stefanpenner/ember-moment#globally-set-time-zone).

My app is invoking the `moment` method provided by the above service; however, when I pass it a formatted date with no time info (e.g. `2018-09-24`), it's not working as expected. That because such method creates a moment object first (

[2018-09-26 06:38] mickbyrne commented on #287
Turns out I hadn't correctly installed the 'moment-timezone' package. Once I installed this into my Ember solution (using bower) everything started working fine.

Thanks for the help @scottkidder

[2018-09-26 06:38] #287 closed

[2018-09-26 15:46] devinrhode2 commented on #171
The error above is caused by just installing ember-auto-import ^1.2.13 with moment ^2.17.1, ember-cli-moment-shim ^3.5.0, and ember-moment": ^7.3.0.

[2018-09-26 16:00] devinrhode2 commented on #171
Linking to some discussions about this...
Looks like this is first discussion where the issue first appeared, opened by @urbany "Import conflict when using in a project along-side ember-auto-import" https://github.com/cibernox/ember-power-calendar/issues/164

A potential solution from @urbany (testing this now) "How to not bundle all moment locales" https://github.com/ef4/ember-auto-import/issues/

[2018-09-28 13:41] ntgussoni commented on #289
Hello, for what i've seen yesterday the timeZone that the service handles is being injected on all helpers and when you use the moment method provided in the service. That works allright.

What i've found is that if you try to use moment without calling the `moment` method in the service then the timezone is not set. You have to call `moment.tz.setDefault('America/Denver');` in order to get it rig

[2018-10-02 16:29] erichonkanen opened #290 "DEPRECATION: hidePrefix is deprecated in favour of hideAffix [deprecation id: ember-moment.addon.helpers.moment-to-now]"
[code]
7.8.0

[2018-10-02 16:30] #290 closed

[2018-10-05 17:53] algodave commented on #289
@ntgussoni Maybe my explanation of the problem wasn't clear enough... It's totally fine with me to keep the timezone in a property.

Invoking `moment.tz.setDefault()` won't solve the issue because after invoking it, any moment object created from that point on will use that timezone; I don't like that, I prefer the freedom to set the timezone on each individual moment object *at the time I create

[2018-10-08 13:47] willemdewit commented on #289
I agree with @ntgussoni, using the moment function from the service `this.get('momentService').moment()` gives a different result than from the 'normal' way of making moment objects `import moment from 'moment';`
My opinion is that the [global timezone](https://momentjs.com/timezone/docs/#/using-timezones/default-timezone/) should be set also to make the behavior the same.

[2018-10-08 14:18] ntgussoni commented on #289
@algodave  I get what you are saying now, I agree we should be able to create a moment in a timezone. However I also think we should be able to modify the global timezone at the same time you set the default for ember-moment
[code]
No mean to hijack your post with this, but it is related

[2018-10-17 21:20] BenjaminBeck commented on #286
Or alternative:
https://www.npmjs.com/package/ember-cli-cjs-transform
and https://www.npmjs.com/package/moment-range

ember-cli-build.js:
[code]
your-componen.js:
[code]

[2018-10-23 21:50] brandynbennett opened #292 "`import moment from 'moment';` does not work"
When I use `import moment from 'moment';` as the README specifies I get an error that the module can't be found. Is this because `ember-cli-moment-shim` is a `devDependency` instead of a `dependency`?? Using version 7.7.0 of this addon

[2018-11-05 22:58] aaronlelevier commented on #292
I installed the package earlier today, and was able to use the `import moment from 'moment';` inside of a component fine.

[2018-11-05 23:12] aaronlelevier opened #293 "Helper moment doesn't format?"
The readme example with `moment` only doesn't seem to apply formatting. Example from README:

[code]
Results in `Mon Nov 05 2018 00:00:00 GMT-0800`

With `moment-format` this works.

[code]

Results in: `2018-11-05`

[2018-11-16 11:18] ControlTheBit commented on #293
This is desired behavior.

Have a look at the documentation here: https://github.com/stefanpenner/ember-moment#moment

Your first example should be read as:
`{{moment 'this is my date value' 'this is the format of my date'}} `
The output will always be in the default format. If you just want to format a date, use `{{moment-format}}`

And your second example should be read as:
`{{moment-format 'thi

[2018-11-16 13:14] ControlTheBit opened #294 "ES6 moment doesn't use correct defaultFormat"
I have the following definition for moment in my environment.js:
[code]

The outputFormat is _correctly_ applied to {{moment-format}}, but not to the moment object that can be used in ES6.

I import the moment object like this `import moment from 'moment';` and use it like this in an action inside a component `this.set('data.myDateAsString', moment(dateObjectFromUi).format());`. The output that I

[2018-12-04 11:03] Caltor opened #295 "Examples using imported module in JS file"
Could we have some examples in the readme of how to use the imported `moment` module in JS files please. The helper examples are great but sometimes it is desirable or necessary to do the formatting in a JS file.

Thanks

[2018-12-19 13:47] stfnio commented on #171
@devinrhode2 if I understood correctly, all we have now is to wait until moment-for-ember authors come up with some decision regarding this problem? Thanks for the clarification in your post btw!

[2018-12-19 14:50] devinrhode2 commented on #171
I am not really sure tbh. Not working with ember or the same team anymore either.

[2018-12-21 02:46] jasonmit commented on #294
`outputFormat` config option is used only in helpers and computeds.  Not when interfacing with the moment API directly.  This is behaving as expected.

[2018-12-21 02:46] #294 closed

[2018-12-22 01:40] jasonmit commented on #171
We'll end up swapping ember-cli-moment-shim over to internally use ember-auto-import while also deprecating it the addon.

For those who are conscious of bundle size and only want certain locales/timezone builds, we'll address that with [documentation](https://github.com/ef4/ember-auto-import/issues/114#issuecomment-415647939).

PRs obviously welcome to move it along.

[2018-12-22 21:00] jasonmit commented on #295
When imported, you're dealing with moment's API directly.  There is nothing to really add to the README in that regard.

[2018-12-22 21:00] #295 closed

[2019-01-28 18:51] raphaelns-developer opened #297 "DEPRECATION: Use of `merge` has been deprecated"
`DEPRECATION: Use of `merge` has been deprecated. Please use `assign` instead. [deprecation id: ember-polyfills.deprecate-merge] See https://emberjs.com/deprecations/v3.x/#toc_ember-polyfills-deprecate-merge for more details.`

"ember-source": "~3.7.0",
"ember-moment": "7.7.0"

[2019-01-31 05:52] theswamis commented on #264
What was the solution for this?
@villander

[2019-02-04 22:34] jasonmit commented on #297
Should be resolved, feel free to comment if it's still appearing.

[2019-02-04 22:34] #297 closed

[2019-02-28 22:32] Redsandro opened #299 "hideAffix broken"
[code]

Ember 3.7.3
ember-moment 7.8.1
ember-cli-moment-shim 3.7.1

[2019-03-11 23:31] Techn1x opened #300 "Readme missing moment-add + moment-subtract helpers"
I noticed that this package has two extra helpers, `{{moment-add number precision}}` and `{{moment-subtract number precision}}` and only found out about these from searching PRs and issues to see if someone had already asked for these helpers

If I find some time I can try to write some documentation for them, but someone more familiar with using them might be able to do this quicker

[2019-03-21 17:12] AndreJoaquim opened #301 "Freeze moment for testing"
Hey! I've used this add-on for a long time and I has served my needs perfectly.

However, one thing that I'd like to see included in this add-on is a helper to freeze moment (i.e. override `moment.now`) in tests, namely acceptance tests. Below I show what the API could look like:

[code]

This would allow (more) deterministic tests, instead of relying of always getting today's date to see if the b

[2019-04-08 10:33] fran-worley opened #303 "moment-timezone include all data for specific timezone"
Based on the options for including timezone data there doesn't appear to be a way to include all data for just one timezone. We only operate in the UK but hold data going back 20+ years so are currently having to import 'all'. It would reduce our build size if we could limit the import to just "Europe/London|Europe/Belfast".

Is there a way to do this?

[2019-04-15 21:41] gmkohler commented on #289
@ntgussoni would implementing what @algodave suggests prevent this in the future?

[2019-04-18 05:43] jasonmit commented on #303
There isn't an automatic way of doing this.

However, you can strip out the [timezone data you need](https://github.com/moment/moment-timezone/tree/develop/data/packed) and [manually register](https://momentjs.com/timezone/docs/#/data-loading/adding-a-zone/) the data.  Afterwards, be sure to set `includeTimezone: "none"`.

Hopefully that help!

[2019-04-18 05:45] jasonmit commented on #301
@AndreJoaquim I love it!  Feel free to send a PR (or anyone for that matter) if you have the cycles!

[2019-04-18 05:48] #293 closed

[2019-04-18 05:49] jasonmit commented on #292
Unable to reproduce, closing.  If you put together a reproduction of the issue please create a new issue.

[2019-04-18 05:49] #292 closed

[2019-04-18 05:56] jasonmit commented on #280
I'm all for option 2 as well.

Worth noting, we will lose the ability for the helpers to recompute on locale and timezone changes.

[2019-04-18 05:58] #277 closed

[2019-04-23 19:05] hakilebara opened #304 "Add a table of content to README.md"
Since the readme is very long,  I suggest adding a table of content to it.

[2019-04-25 05:57] #304 closed

[2019-04-25 14:37] fran-worley commented on #303
Thanks Jason,

I actually tried this originally but ran into issues where `moment.tz` was undefined so fell back to importing all. It's possible that I was attempting to manually register in the wrong place but either way I figured some docs might be useful for everyone given that build size is quite a hot topic with ember at the moment...

[2019-04-25 17:00] aaxelb opened #306 "`undefined` input with allow-empty=false renders current date"
`{{moment-format undefined}}` renders the current date. This is unexpected and mildly confusing.

[ember-twiddle repro](https://ember-twiddle.com/d0655905d0c6617044b83786920141e6?openFiles=templates.application.hbs%2C)

Expected: Error.

[2019-05-30 00:26] xtagon opened #308 "Assertion errors in Ember 3.10 - can be fixed in later ember-macro-helpers version"
Hi,

ember-moment 7.8.1 depends on ember-macro-helpers ^2.1.0, but ember-macro-helpers fixed an Ember 3.10 incompatibility in 3.1.0 and up.

Would it be possible to update ember-moment to use the latest ember-macro-helpers?

Thanks!

[2019-05-30 13:48] enspandi commented on #308
Meanwhile you can try to add a resolution to package.json, like:
[code]

[2019-05-30 16:07] xtagon commented on #308
I'll give it a try.

[2019-05-30 16:31] xtagon commented on #308
Looks like it works - thanks for that 👍

[2019-05-31 06:48] GnanaAjana opened #309 "startOf('day') gets previous day using ember-moment service"
version:
ember-moment: 7.4.1

Issue in getting start of date using ember moment service.
get(this, 'moment').moment().startOf('day').toDate() -> gets previous date.
moment().startOf('day').toDate() -> gets correct date.

May I know why this occurs?

[2019-06-07 06:36] mikeelemuel opened #311 "Timezone doesn't apply"
Versions

  "ember-cli": "2.6.2",
  "ember-moment": "4.1.0",

My `template.hbs` has a code below but doesn't show the correct date based on the timeZone defined on addon

        {{moment-format model.createdAt "MMM DD, YYYY · LT" timeZone="Singapore"}}

on my `config/environment.js` I also included the code below

            moment: {
              includeTimezone: 'all'
            },

Any resp

[2019-07-02 20:03] wagenet commented on #311
@mikeelemuel if you manually create a new `moment` object in the console does it have the `tz` method defined?

[2019-07-02 20:03] wagenet commented on #311
https://github.com/stefanpenner/ember-moment/blob/bef0f56ab7277070dff8a595ecd4fdb509a3ac0b/addon/helpers/-base.js#L42-L44

[2019-07-29 14:29] mculpsf opened #313 "[ember-moment] attempted to set timezone, but moment-timezone is not setup."
I'm getting `[ember-moment] attempted to set timezone, but moment-timezone is not setup.` and I've read through the other issues in this repo and tried everything with no luck.

[code]

[code]

[code]

Nothing related to moment in `ember-cli-build.js`.

Any ideas? Thanks!

[2019-08-16 06:59] vvsalmin commented on #313
same problem here .. started when we took ember-auto-import in use :|

[2019-08-20 10:47] vvsalmin commented on #313
got that working by adding `import 'moment-timezone';` on top of the file where I used `.changeTimeZone(...)` ... dunno why it worked but I'm happy with it now...

[2019-10-19 19:14] TristanToye commented on #300
I'll take some time to try add some docs for this. I have been using this package for years and didn't know these helpers existed!

[2019-10-22 08:27] #300 closed

[2020-02-03 18:03] cah-briangantzler commented on #311
we found that all did not work. tried ranges, no luck, The only thing we got to work or at least not error was below

[code]

I thought I would look in the code and see what was really happening but cant find it. Where in the code is this config item even being referenced?

Also the ember-try seems really out of date. I looked because the commits said there was an update of a dependency ember-awes

[2020-02-22 14:31] rwwagner90 commented on #303
We're also looking for ways to reduce our build size, and moment-timezone is currently almost double the size of Ember itself in our bundle! Would love some suggestions on how to include less timezones and less locales for moment itself, etc.

[2020-02-22 20:32] jasonmit commented on #303
@rwwagner90 Does this not cover your use case: https://github.com/jasonmit/ember-cli-moment-shim#cherry-pick-locales-optimal

[2020-02-22 20:57] rwwagner90 commented on #303
@jasonmit that looks like it should work for locales. We currently have `includeTimezone: 'all'` as well though, so I assume we have to manually load timezone data? We don't actually want all timezones, I don't think, but I am not 100% sure which ones we do want now.

[2020-02-24 10:21] Redsandro opened #323 ""Invalid date" in Safari"
Using a `pickupDate` from my model as `DS.attr('date')`, I can't use `moment-format` in Safari like so:

[code]

It will show:

This issue is similar to the previously closed #187. The bug was closed by @ihomp after commenting:

However, this is a workaround, not a fix for this issue. The [documentation](https://github.com/stefanpenner/ember-moment#moment-from--moment-from-now) states that the dat

[2020-02-24 14:27] rwwagner90 commented on #231
Can someone better explain how these subsets work? It saves some bytes to use the subset, instead of all, but I am unclear on when they change and if it might break things.

[2020-04-08 20:46] jasonmit commented on #323
Can you tell me what the stringified value of bookingDate is in Safari and non-Safari?  Can you replicate this without using ember-data?

[2020-04-08 20:52] #323 closed

[2020-05-06 02:37] deanmraz opened #328 "Using ember-moment in Ember 3.18 fails to produce production build"
# Issue
Cannot create production builds. Fails during uglify.

# Steps
1. Create new ember app `npm i -g ember-cli && ember new ember-moment-test`
2. Install ember moment `cd ember-moment-test  && ember install ember-moment`
3. Run production build `ember build --environment=production`

# Error

[code]

[2020-05-06 05:29] mschorsch commented on #328
We have the same problem with ember@3.16 and sometimes get the following error (only in production build):

[code]
The problem seems to be `moment` itself. Since `moment@^2.25.0` the file `en-SG.js` was renamed to `en-sg.js`.

[2020-05-07 14:29] dmaok commented on #328
@deanmraz I confirm the error with moment@^2.25.0.
Just specify `"moment": "2.24.0"` for submodules.
[yarn](https://classic.yarnpkg.com/en/docs/selective-version-resolutions/#toc-how-to-use-it), [npm](https://nodejs.org/en/blog/npm/managing-node-js-dependencies-with-shrinkwrap/)

[2020-05-07 16:48] deanmraz commented on #328
@dmaok How would you implement that? It looks like now I have both versions of moment `2.24.0` & `2.25.0` and it is still failing.

[2020-05-08 06:26] dmaok commented on #328
It is easier with yarn. In your package.json add block
[code]
and then `yarn install`

[2020-05-08 15:00] deanmraz commented on #328
@dmaok that worked, thank you!

This is a good short term fix, but what is the ideal solution? Does this need to be fixed in this repo or the actual moment repo?

[2020-05-08 18:37] jrjohnson commented on #328
According to https://github.com/terser/terser/issues/684 this is a moment issue though there isn't a specific ticket there yet https://github.com/moment/moment/issues

[2020-05-11 04:14] jasonmit commented on #328
Fixed in ember-cli-moment-shim@3.8.0 - thanks to @jrjohnson

[2020-05-11 16:16] deanmraz commented on #328
@jasonmit confirmed! thanks everyone for the help

[2020-05-11 16:16] #328 closed

[2020-08-10 11:44] preethi-sathiyanarayanan commented on #303
same here. a way to reduce the size due to timezone would be helpful

[2021-03-16 12:36] lsarni opened #339 "When calling `deprecate` you must provide `for` in options. Missing options.for in "ember-moment.addon.helpers.moment-to-now" deprecation"
Hello,
I'm getting this warning when using the `moment-to-new` helper.

It seems like [this deprecate](https://github.com/stefanpenner/ember-moment/blob/master/addon/helpers/moment-to-now.js#L9) should have a `for` option.

[According to the code of the `deprecate` method](https://github.com/emberjs/ember.js/blob/master/packages/@ember/debug/lib/deprecate.ts#L195) _options.for A namespace for the

[2021-05-06 08:59] aoumiri opened #340 "Import `computed.bool` from the right package"
With the latest release of[ ember `3.27.0`](https://github.com/emberjs/ember.js/blob/master/CHANGELOG.md#v3270-May-3-2021), it's no longer possible to use `computed.bool` like that:

[code]

But instead we should do:

[code]

Otherwise, this is the error we get: `Uncaught TypeError: Ember.computed.bool is not a function`.

[2021-05-18 14:04] aoumiri commented on #340
Hello @stefanpenner, any idea on how to make the pipeline pass?
It looks like the node version it's using is different from the one expected.

[2021-05-20 16:34] cannyedge34 opened #345 "error starting ember with ember-moment"
[code]

this is my current package.json

[code]

[2021-06-18 12:38] jeroen-hoekstra opened #347 "Ember Global deprecation warning due to old version of ember-cli-babel."
We get this deprecation warning after updating to "ember-source": "3.27.5"
We use "ember-moment": "8.0.1"

[code]

[2021-07-09 14:23] schorke commented on #340
@aoumiri I don't understand why this error exists (we have the same error) while `Ember.computed.bool` is only [deprecated](https://github.com/emberjs/ember.js/blob/v3.27.0/packages/%40ember/object/index.js#L83) in Ember 3.27.0 ...

Did I miss something ?

[2021-08-19 10:42] timmyomahony commented on #340
I'm encountering this with `ember-moment` `8.0.1` on `ember-source` `3.28.0` running the following in a template:

[code]

Throws the error:

[code]

Which seems to relate to here:

https://github.com/stefanpenner/ember-moment/blob/382ddd1238c7bcab2f66225830d18aca5364c2f6/addon/helpers/-base.js#L9

More details on my env:

[code]

[2021-08-19 10:53] timmyomahony commented on #340
Just to note, the PR from here fixes this for me:

https://github.com/stefanpenner/ember-moment/pull/351

You can get it with:

[code]

[2021-08-19 19:23] aoumiri commented on #340
@jasonmit @stefanpenner can anyone of you have a look at this PR? Or any maintainer 🙏

Thanks 😊

[2021-08-28 08:27] aoumiri commented on #340
Ember bug or not, I think it's still worth fixing now if it will be deprecated. Rather than waiting for the next major. WDYT ?

[2021-09-07 21:47] esbanarango commented on #340
https://github.com/adopted-ember-addons/ember-moment/pull/351#issuecomment-914650169

[2021-09-07 22:55] NullVoxPopuli commented on #340
Fix released in 8.0.2

[2021-09-07 22:55] #340 closed

[2021-09-13 17:42] NullVoxPopuli commented on #221
computed macros have been removed in v9

[2021-09-13 17:42] #221 closed

[2021-09-13 17:43] NullVoxPopuli commented on #240
computed macros have been removed in v9 -- this can be handled via a plain ol' JS getter

[2021-09-13 17:43] #240 closed

[2021-09-13 17:43] NullVoxPopuli commented on #219
this project has dependabot

[2021-09-13 17:43] #219 closed

[2021-09-13 17:43] NullVoxPopuli commented on #214
computed macros have been removed in v9 :D

[2021-09-13 17:43] #214 closed

[2021-09-13 17:44] NullVoxPopuli commented on #153
computed property macros have been removed in v9

[2021-09-13 17:44] #153 closed

[2021-09-13 17:44] NullVoxPopuli commented on #208
computed property macros removed in v9

[2021-09-13 17:44] #208 closed

[2021-09-15 15:14] jfdnc opened #362 "`services/moment.js` bug in `defaultFormat`"
`9.0.0` release includes update to `MomentService.defaultFormat`

https://github.com/adopted-ember-addons/ember-moment/blob/1adc5afc20526af59bde67c7fa8b3e01b9a04971/app/services/moment.js#L5

which is resulting in `TypeError: Cannot read property 'outputFormat' of undefined` if `config.moment` isn't defined in the consuming app.

[Previous implementation](https://github.com/adopted-ember-addons/em

[2021-09-16 06:55] Techn1x commented on #362
I have also hit this same error. It also occurs when using the moment helper, if you use it without an output format like this:
[code]

(it's expecting both an input and output format)

[2021-09-16 09:09] davideferre commented on #362
The same for me.
Maybe the PR #363 can be improved using the moment default format specified in docs ["Default format" subsection](https://momentjs.com/docs/#/displaying/format/)

[2021-09-16 13:52] jfdnc commented on #362
@davideferre I believe that passing `null` is sufficient for allowing `moment` to default to ISO8601. Explicitly passing that string as a default here would be overspecifying. Previous implementation fell back to `null` in a similar manner to https://github.com/adopted-ember-addons/ember-moment/pull/363

[2021-09-22 20:12] #362 closed

[2021-09-24 03:25] Techn1x opened #366 "moment-timezone dependency added"
The 9.0.0 release seemed to add moment-timezone as a dependency (adding about 30kb compressed to bundle size) - was this intentional? It isn't listed in the changelog, and I don't have this configuration set
https://github.com/adopted-ember-addons/ember-moment#include-moment-timezone

It looks like it was added to the package.json dependencies as part of this PR?
https://github.com/adopted-ember-a

[2021-09-30 07:33] Techn1x commented on #366
When I add this to my config, it still seems to include it
[code]

Is anyone else seeing this?

[2021-10-08 16:56] jfdnc commented on #366
@Techn1x I think this was a side-effect of the [removal of `ember-cli-moment-shim`](https://github.com/adopted-ember-addons/ember-moment/commit/0f02477277b207e8035575df260329d5c17037e2#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d519L45).  That library was handling both [`includeTimezone` and `includeLocales`](https://github.com/jasonmit/ember-cli-moment-shim/blob/010c9ba0d066

[2021-10-08 17:11] jfdnc commented on #366
It looks like the [`moment` service](https://github.com/adopted-ember-addons/ember-moment/blob/1adc5afc20526af59bde67c7fa8b3e01b9a04971/addon/services/moment.js#L4) is directly importing `moment-timezone`, which also pulls in the base library.  This library is already using `ember-auto-import`, so I don't see why we couldn't [dynamically import](https://github.com/ef4/ember-auto-import#dynamic-imp

[2021-11-18 20:36] stopfstedt opened #368 "toggling locales does not take effect"
after upgrading to version 9.0.1, toggling the locale does not seem to cause a re-computation in the getters of my glimmer components that use the `moment` service.

example component and corresponding template:

[code]

[code]

i would expect that once i change the locale (invoking the `changeLocale()` action via a button click or the likes), that "lunes" would be returned from the getter, but it

[2021-11-22 12:02] rreckonerr opened #369 "Is ember-cli-moment-shim still required for ember-moment?"
Hi! Thanks for taking care of this addon!
I wonder whether the https://github.com/jasonmit/ember-cli-moment-shim is still required for ember-moment?

In case it DOES NOT, should we remove the [blueprint](https://github.com/adopted-ember-addons/ember-moment/blob/8297380f25fec796efc09fc50f715fb7687cd08d/blueprints/ember-moment/index.js#L12-L15)?

In case it DOES, should we update ember-cli-moment-sh

[2021-12-28 10:27] jasalguero opened #370 "Timezone not accesible after upgrading to version 9"
Hi, I'm upgrading some application's ember versions and after upgrading to the lastest ember-moment (9.0.1) I get error while trying to access the timezone. It works fine reverting back to ember-moment 8x

`ember-cli: 3.28.5
node: 14.16.0
os: darwin x64`

`
 npm list
...
│ ├── moment@2.29.1 deduped
│ └── moment-timezone@0.5.34 ded
...
`

`
//config.environment

module.exports = function() {
  retu

[2021-12-28 11:33] jasalguero commented on #370
I tried also with a clean new Ember app (v4), just installing ember-moment and trying to access the timezone throws the exception

[2022-01-14 06:31] jrjohnson commented on #369
I'm seeing the same and trying to figure out if I need to put time into updating and maybe maintaining moment-shim. It doesn't seem to be necessary possibly due to auto-import or something else?

[2022-01-14 11:18] NullVoxPopuli commented on #369
You both are correct, shim is no longer needed.

[2022-01-21 18:22] jrjohnson commented on #369
It looks like [v10](https://github.com/adopted-ember-addons/ember-moment/blob/master/CHANGELOG.md) now provides the tools/documentation needed to provide timezones and locales which were the last parts I was having trouble removing.

[2022-02-07 21:24] mayatron opened #375 "Environment configuration does not work as documented"
The `README.md` shows the following example configuration for the `allowEmpty` option:

[code]

However, this does not seem to work for me, unless I change the key from `moment` to `'ember-moment'` like this:

[code]

Additionally, the application config appears to point to `ember-moment` as the expected key in multiple places:

- https://github.com/adopted-ember-addons/ember-moment/blob/c80dd174c

[2022-02-16 15:24] mkszepp opened #377 "Update dependency `@embroider/addon-shim` to `^1.0.0`"
The current latest ember-moment version (`10.0.0`) has as dependency `@embroider/addon-shim: ^0.50.2`.

It would be nice to update to `^1.0.0`

If you need any help i can make a pull request

https://github.com/adopted-ember-addons/ember-moment/blob/a65dcec585a0f357c09149ba780508cc09d4cf50/package.json#L42-L44

[2022-03-31 08:00] MikiDi commented on #375
I'm experiencing this as well (`ember-moment v10.0.0`). Config in `config/environment.js` is not picked up by key `moment`, but `ember-moment`. May I suggest broadening the title of this issue @mayatron ?

[2022-03-31 20:59] mayatron commented on #375
Done!

[2022-04-20 13:45] jramiresbrito opened #379 "Display an optional message when date is null/invalid/undefined"
The default behavior when the helper receives an invalid input is to return **Invalid Date**.

Optionally, from docs we can allow empty dates to be passed but  it returns nothing:

But it could help a lot in my case if I could define an optional message. I'm currently doing this via a template helper:

[code]

If possible, I'd like to eliminate this helper.

[2022-06-07 14:17] #366 closed